Transformer get issue

We have a parent container with one child-list and one child-container. When we query the parent container we only get the data for child-container and the child-list is getting ignored

admin@sonic:~$ curl -X GET "https://10.59.143.180/restconf/data/ietf-ptp:ptp" -H "accept: application/yang-data+json" -k
{"ietf-ptp:ptp":{"transparent-clock-port-ds-list":[{"faulty-flag":true,"log-min-pdelay-req-interval":0,"peer-mean-path-delay":"0","port-number":1}]}}

Oct 18 09:30:39.657086 sonic INFO mgmt-framework#supervisord: rest-server I1018 09:30:39.656792      53 router.go:122] [REST-7] Recevied GetIetfPtpPtp request from 10.59.143.180:53278
Oct 18 09:30:39.657086 sonic INFO mgmt-framework#supervisord: rest-server I1018 09:30:39.656845      53 handler.go:47] [REST-7] GET /restconf/data/ietf-ptp:ptp; content-len=0
Oct 18 09:30:39.657086 sonic INFO mgmt-framework#supervisord: rest-server I1018 09:30:39.656853      53 handler.go:92] [REST-7] No body
Oct 18 09:30:39.657244 sonic INFO mgmt-framework#supervisord: rest-server I1018 09:30:39.656862      53 handler.go:55] [REST-7] Translated path = /ietf-ptp:ptp
Oct 18 09:30:39.657244 sonic INFO mgmt-framework#supervisord: rest-server I1018 09:30:39.656871      53 translib.go:406] Received Get request for path = /ietf-ptp:ptp
Oct 18 09:30:39.657296 sonic INFO mgmt-framework#supervisord: rest-server I1018 09:30:39.656878      53 app_interface.go:130] getAppModule called for path =/ietf-ptp:ptp
Oct 18 09:30:39.657296 sonic INFO mgmt-framework#supervisord: rest-server I1018 09:30:39.656884      53 app_interface.go:143] No app module registered for path /ietf-ptp:ptp hence fallback to default/common app
Oct 18 09:30:39.657296 sonic INFO mgmt-framework#supervisord: rest-server I1018 09:30:39.656894      53 app_interface.go:165] cast to appInterface worked&{<nil> <nil> <nil> map[] []}
Oct 18 09:30:39.657313 sonic INFO mgmt-framework#supervisord: rest-server I1018 09:30:39.657020      53 common_app.go:64] initialize:path =/ietf-ptp:ptp
Oct 18 09:30:39.657313 sonic INFO mgmt-framework#supervisord: rest-server I1018 09:30:39.657112      53 db.go:325] NewDB: Init indication not requested
Oct 18 09:30:39.657486 sonic INFO mgmt-framework#supervisord: rest-server I1018 09:30:39.657157      53 common_app.go:111] translateGet:path =/ietf-ptp:ptp
Oct 18 09:30:39.657486 sonic INFO mgmt-framework#supervisord: rest-server I1018 09:30:39.657166      53 common_app.go:182] processGet:path =/ietf-ptp:ptp
Oct 18 09:30:39.657486 sonic INFO mgmt-framework#supervisord: rest-server I1018 09:30:39.657171      53 xlate.go:298] received xpath =/ietf-ptp:ptp
Oct 18 09:30:39.657486 sonic INFO mgmt-framework#supervisord: rest-server I1018 09:30:39.657219      53 xlate.go:94] key separator for table PTP_TC_PORT in Db 4 is |
Oct 18 09:30:39.657845 sonic INFO mgmt-framework#supervisord: rest-server I1018 09:30:39.657718      53 xlate.go:94] key separator for table PTP_TC_PORT in Db 4 is |
Oct 18 09:30:39.658057 sonic INFO mgmt-framework#supervisord: rest-server I1018 09:30:39.657916      53 xfmr_ptp.go:187] DbToYang_ptp_tcport_entry_key_xfmr root, uri: <nil>/ietf-ptp:ptp/transparent-clock-port-ds-list
Oct 18 09:30:39.658057 sonic INFO mgmt-framework#supervisord: rest-server I1018 09:30:39.657930      53 xfmr_ptp.go:190] DbToYang_ptp_tcport_entry_key_xfmr: Ethernet1
Oct 18 09:30:39.658057 sonic INFO mgmt-framework#supervisord: rest-server I1018 09:30:39.657938      53 xfmr_ptp.go:195] DbToYang_ptp_tcport_entry_key_xfmr port-number: 1
Oct 18 09:30:39.658174 sonic INFO mgmt-framework#supervisord: rest-server I1018 09:30:39.657976      53 xfmr_ptp.go:166] YangToDb_ptp_tcport_entry_key_xfmr root, uri: 0xc0051fc2d0/ietf-ptp:ptp/transparent-clock-port-ds-list[port-number=1]
Oct 18 09:30:39.658174 sonic INFO mgmt-framework#supervisord: rest-server I1018 09:30:39.657990      53 xfmr_ptp.go:169] YangToDb_ptp_tcport_entry_key_xfmr len(pathInfo.Vars): 1
Oct 18 09:30:39.658206 sonic INFO mgmt-framework#supervisord: rest-server I1018 09:30:39.657995      53 xfmr_ptp.go:175] YangToDb_ptp_tcport_entry_key_xfmr pathInfo.Var:port-number: 1
Oct 18 09:30:39.658223 sonic INFO mgmt-framework#supervisord: rest-server I1018 09:30:39.658000      53 xfmr_ptp.go:179] YangToDb_ptp_tcport_entry_key_xfmr - entry_key : Ethernet1
Oct 18 09:30:39.658223 sonic INFO mgmt-framework#supervisord: rest-server I1018 09:30:39.658012      53 xlate_from_db.go:475] Received xpath - /ietf-ptp:ptp/transparent-clock-port-ds-list/port-number, uri - /ietf-ptp:ptp/transparent-clock-port-ds-list[port-number=1]/port-number, table - PTP_TC_PORT, table key - Ethernet1
Oct 18 09:30:39.658244 sonic INFO mgmt-framework#supervisord: rest-server I1018 09:30:39.658031      53 xlate_from_db.go:475] Received xpath - /ietf-ptp:ptp/transparent-clock-port-ds-list/log-min-pdelay-req-interval, uri - /ietf-ptp:ptp/transparent-clock-port-ds-list[port-number=1]/log-min-pdelay-req-interval, table - PTP_TC_PORT, table key - Ethernet1
Oct 18 09:30:39.658244 sonic INFO mgmt-framework#supervisord: rest-server I1018 09:30:39.658039      53 xlate_from_db.go:128] Received FieldXpath /ietf-ptp:ptp/transparent-clock-port-ds-list/log-min-pdelay-req-interval, yngTerminalNdDtType int8 and Db field value 0 to be converted to yang data-type.
Oct 18 09:30:39.658255 sonic INFO mgmt-framework#supervisord: rest-server I1018 09:30:39.658072      53 xlate_from_db.go:475] Received xpath - /ietf-ptp:ptp/transparent-clock-port-ds-list/faulty-flag, uri - /ietf-ptp:ptp/transparent-clock-port-ds-list[port-number=1]/faulty-flag, table - PTP_TC_PORT, table key - Ethernet1
Oct 18 09:30:39.658358 sonic INFO mgmt-framework#supervisord: rest-server I1018 09:30:39.658080      53 xlate_from_db.go:128] Received FieldXpath /ietf-ptp:ptp/transparent-clock-port-ds-list/faulty-flag, yngTerminalNdDtType boolean and Db field value true to be converted to yang data-type.
Oct 18 09:30:39.658358 sonic INFO mgmt-framework#supervisord: rest-server I1018 09:30:39.658090      53 xlate_from_db.go:475] Received xpath - /ietf-ptp:ptp/transparent-clock-port-ds-list/peer-mean-path-delay, uri - /ietf-ptp:ptp/transparent-clock-port-ds-list[port-number=1]/peer-mean-path-delay, table - PTP_TC_PORT, table key - Ethernet1
Oct 18 09:30:39.658358 sonic INFO mgmt-framework#supervisord: rest-server I1018 09:30:39.658096      53 xlate_from_db.go:128] Received FieldXpath /ietf-ptp:ptp/transparent-clock-port-ds-list/peer-mean-path-delay, yngTerminalNdDtType int64 and Db field value 0 to be converted to yang data-type.
Oct 18 09:30:39.658408 sonic INFO mgmt-framework#supervisord: rest-server I1018 09:30:39.658103      53 xlate_from_db.go:156] Yenum/Ystring/Yunion(having all members as strings) type for yangXpath /ietf-ptp:ptp/transparent-clock-port-ds-list/peer-mean-path-delay
Oct 18 09:30:39.658423 sonic INFO mgmt-framework#supervisord: rest-server I1018 09:30:39.658115      53 xlate_from_db.go:475] Received xpath - /ietf-ptp:ptp/transparent-clock-default-ds/clock-identity, uri - /ietf-ptp:ptp/transparent-clock-default-ds/clock-identity, table - , table key -
Oct 18 09:30:39.658423 sonic INFO mgmt-framework#supervisord: rest-server I1018 09:30:39.658122      53 xlate_from_db.go:475] Received xpath - /ietf-ptp:ptp/transparent-clock-default-ds/number-ports, uri - /ietf-ptp:ptp/transparent-clock-default-ds/number-ports, table - , table key -
Oct 18 09:30:39.658437 sonic INFO mgmt-framework#supervisord: rest-server I1018 09:30:39.658128      53 xlate_from_db.go:475] Received xpath - /ietf-ptp:ptp/transparent-clock-default-ds/delay-mechanism, uri - /ietf-ptp:ptp/transparent-clock-default-ds/delay-mechanism, table - , table key -
Oct 18 09:30:39.658437 sonic INFO mgmt-framework#supervisord: rest-server I1018 09:30:39.658135      53 xlate_from_db.go:475] Received xpath - /ietf-ptp:ptp/transparent-clock-default-ds/primary-domain, uri - /ietf-ptp:ptp/transparent-clock-default-ds/primary-domain, table - , table key -
Oct 18 09:30:39.658461 sonic INFO mgmt-framework#supervisord: rest-server I1018 09:30:39.658141      53 xlate_from_db.go:593] Empty container("/ietf-ptp:ptp/transparent-clock-default-ds").#015
Oct 18 09:30:39.658461 sonic INFO mgmt-framework#supervisord: rest-server I1018 09:30:39.658231      53 xlate.go:358] Payload generated:{"transparent-clock-port-ds-list":[{"faulty-flag":true,"log-min-pdelay-req-interval":0,"peer-mean-path-delay":"0","port-number":1}]}
Oct 18 09:30:39.682586 sonic INFO mgmt-framework#supervisord: rest-server I1018 09:30:39.682303      53 handler.go:72] [REST-7] Sending response 200, type=application/yang-data+json, data={"ietf-ptp:ptp":{"transparent-clock-port-ds-list":[{"faulty-flag":true,"log-min-pdelay-req-interval":0,"peer-mean-path-delay":"0","port-number":1}]}}
Oct 18 09:30:39.682586 sonic INFO mgmt-framework#supervisord: rest-server I1018 09:30:39.682338      53 router.go:128] [REST-7] GetIetfPtpPtp took 25.523633ms
Oct 18 09:30:51.359454 sonic INFO dhclient[4128]: XMT: Solicit on eth0, interval 113630ms.
Oct 18 09:32:45.056743 sonic INFO dhclient[4128]: XMT: Solicit on eth0, interval 116750ms.



Please can you share the annotation file and the sonic yang for the ietf-ptp case. It will also help if you share what your redis entries look like.

module ietf-ptp {
  yang-version 1.1;
  namespace "urn:ietf:params:xml:ns:yang:ietf-ptp";
  prefix ptp;

  import ietf-interfaces {
    prefix if;
    reference
      "RFC 8343: A YANG Data Model for Interface Management";
  }

  organization
    "IETF TICTOC Working Group";
  contact
    "WG Web:   https://datatracker.ietf.org/wg/tictoc/
     WG List:  <mailto:tictoc@ietf.org>
     Editor:   Yuanlong Jiang
               <mailto:jiangyuanlong@huawei.com>
     Editor:   Rodney Cummings
               <mailto:rodney.cummings@ni.com>";
  description
    "This YANG module defines a data model for the configuration
     of IEEE Std 1588-2008 clocks, and also for retrieval of the state
     data of IEEE Std 1588-2008 clocks.";

  revision 2019-05-07 {
    description
      "Initial version";
    reference
      "RFC 8575: YANG Data Model for the Precision Time Protocol";
  }

  typedef delay-mechanism-enumeration {
    type enumeration {
      enum e2e {
        value 1;
        description
          "The port uses the delay request-response mechanism.";
      }
      enum p2p {
        value 2;
        description
          "The port uses the peer delay mechanism.";
      }
      enum disabled {
        value 254;
        description
          "The port does not implement any delay mechanism.";
      }
    }
    description
      "The propagation-delay measuring option used by the
       port.  Values for this enumeration are specified
       by the IEEE Std 1588 standard exclusively.";
    reference
      "IEEE Std 1588-2008: 8.2.5.4.4";
  }

  typedef port-state-enumeration {
    type enumeration {
      enum initializing {
        value 1;
        description
          "The port is initializing its data sets, hardware, and
           communication facilities.";
      }
      enum faulty {
        value 2;
        description
          "The port is in the fault state.";
      }
      enum disabled {
        value 3;
        description
          "The port is disabled and is not communicating PTP
           messages (other than possibly PTP management
           messages).";
      }
      enum listening {
        value 4;
        description
          "The port is listening for an Announce message.";
      }
      enum pre-master {
        value 5;
        description
          "The port is in the pre-master state.";
      }
      enum master {
        value 6;
        description
          "The port is behaving as a master port.";
      }
      enum passive {
        value 7;
        description
          "The port is in the passive state.";
      }
      enum uncalibrated {
        value 8;
        description
          "A master port has been selected, but the port is still
           in the uncalibrated state.";
      }
      enum slave {
        value 9;
        description
          "The port is synchronizing to the selected master port.";
      }
    }
    description
      "The current state of the protocol engine associated
       with the port.  Values for this enumeration are specified
       by the IEEE Std 1588 standard exclusively.";
    reference
      "IEEE Std 1588-2008: 8.2.5.3.1, 9.2.5";
  }

  typedef time-interval-type {
    type int64;
    description
      "Derived data type for time interval, represented in units of
        nanoseconds and multiplied by 2^16";
    reference
      "IEEE Std 1588-2008: 5.3.2";
  }

  typedef clock-identity-type {
    type binary {
      length "8";
    }
    description
      "Derived data type to identify a clock";
    reference
      "IEEE Std 1588-2008: 5.3.4";
  }

  grouping clock-quality-grouping {
    description
      "Derived data type for quality of a clock, which contains
       clockClass, clockAccuracy, and offsetScaledLogVariance.";
    reference
      "IEEE Std 1588-2008: 5.3.7";
    leaf clock-class {
      type uint8;
      default "248";
      description
        "The clockClass denotes the traceability of the time
         or frequency distributed by the clock.";
    }
    leaf clock-accuracy {
      type uint8;
      description
        "The clockAccuracy indicates the expected accuracy
         of the clock.";
    }
    leaf offset-scaled-log-variance {
      type uint16;
      description
        "The offsetScaledLogVariance provides an estimate of
         the variations of the clock from a linear timescale
         when it is not synchronized to another clock
         using the protocol.";
    }
  }

  container ptp {
    description
      "The PTP struct containing all attributes of PTP data set,
        other optional PTP attributes can be augmented as well.";
    list instance-list {
      key "instance-number";
      description
        "List of one or more PTP data sets in the device (see IEEE
         Std 1588-2008 subclause 6.3).
         Each PTP data set represents a distinct instance of
         PTP implementation in the device (i.e., distinct
         Ordinary Clock or Boundary Clock).";
      leaf instance-number {
        type uint32;
        description
          "The instance number of the current PTP instance.
           This instance number is used for management purposes
           only.  This instance number does not represent the PTP
           domain number and is not used in PTP messages.";
      }
      container default-ds {
        description
          "The default data set of the clock (see IEEE Std
           1588-2008 subclause 8.2.1).  This data set represents
           the configuration/state required for operation
           of Precision Time Protocol (PTP) state machines.";
        reference
          "IEEE Std 1588-2008: 8.2.1";
        leaf two-step-flag {
          type boolean;
          description
            "When set to true, the clock is a two-step clock;
             otherwise,the clock is a one-step clock.";
        }
        leaf clock-identity {
          type clock-identity-type;
          config false;
          description
            "The clockIdentity of the local clock.";
        }
        leaf number-ports {
          type uint16;
          description
            "The number of PTP ports on the instance.";
        }
        container clock-quality {
          description
            "The clockQuality of the local clock.";
          uses clock-quality-grouping;
        }
        leaf priority1 {
          type uint8;
          description
            "The priority1 attribute of the local clock.";
        }
        leaf priority2 {
          type uint8;
          description
            "The priority2 attribute of the local clock.";
        }
        leaf domain-number {
          type uint8;
          description
            "The domain number of the current syntonization
             domain.";
        }
        leaf slave-only {
          type boolean;
          description
            "When set to true, the clock is a slave-only clock.";
        }
      }
      container current-ds {
        description
          "The current data set of the clock (see IEEE Std
           1588-2008 subclause 8.2.2).  This data set represents
           local states learned from the exchange of
           Precision Time Protocol (PTP) messages.";
        reference
          "IEEE Std 1588-2008: 8.2.2";
        leaf steps-removed {
          type uint16;
          default "0";
          description
            "The number of communication paths traversed
             between the local clock and the grandmaster clock.";
        }
        leaf offset-from-master {
          type time-interval-type;
          description
            "The current value of the time difference between
             a master and a slave clock as computed by the slave.";
        }
        leaf mean-path-delay {
          type time-interval-type;
          description
            "The current value of the mean propagation time between
             a master and a slave clock as computed by the slave.";
        }
      }
      container parent-ds {
        description
          "The parent data set of the clock (see IEEE Std 1588-2008
           subclause 8.2.3).";
        reference
          "IEEE Std 1588-2008: 8.2.3";
        container parent-port-identity {
          description
            "The portIdentity of the port on the master, it
             contains two members: clockIdentity and portNumber.";
          reference
            "IEEE Std 1588-2008: 5.3.5";
          leaf clock-identity {
            type clock-identity-type;

            description
              "Identity of the clock.";
          }
          leaf port-number {
            type uint16;
            description
              "Port number.";
          }
        }
        leaf parent-stats {
          type boolean;
          default "false";
          description
            "When set to true, the values of
             observedParentOffsetScaledLogVariance and
             observedParentClockPhaseChangeRate of parentDS
             have been measured and are valid.";
        }
        leaf observed-parent-offset-scaled-log-variance {
          type uint16;
          default "65535";
          description
            "An estimate of the parent clock's PTP variance
             as observed by the slave clock.";
        }
        leaf observed-parent-clock-phase-change-rate {
          type int32;
          description
            "An estimate of the parent clock's phase change rate
             as observed by the slave clock.";
        }
        leaf grandmaster-identity {
          type clock-identity-type;
          description
            "The clockIdentity attribute of the grandmaster clock.";
        }
        container grandmaster-clock-quality {
          description
            "The clockQuality of the grandmaster clock.";
          uses clock-quality-grouping;
        }
        leaf grandmaster-priority1 {
          type uint8;
          description
            "The priority1 attribute of the grandmaster clock.";
        }
        leaf grandmaster-priority2 {
          type uint8;
          description
            "The priority2 attribute of the grandmaster clock.";
        }
      }
      container time-properties-ds {
        description
          "The timeProperties data set of the clock (see
           IEEE Std 1588-2008 subclause 8.2.4).";
        reference
          "IEEE Std 1588-2008: 8.2.4";
        leaf current-utc-offset-valid {
          type boolean;
          description
            "When set to true, the current UTC offset is valid.";
        }
        leaf current-utc-offset {
          when "../current-utc-offset-valid='true'";
          type int16;
          description
            "The offset between TAI and UTC when the epoch of the
             PTP system is the PTP epoch in units of seconds, i.e.,
             when ptp-timescale is TRUE; otherwise, the value has
             no meaning.";
        }
        leaf leap59 {
          type boolean;
          description
            "When set to true, the last minute of the current UTC
             day contains 59 seconds.";
        }
        leaf leap61 {
          type boolean;
          description
            "When set to true, the last minute of the current UTC
             day contains 61 seconds.";
        }
        leaf time-traceable {
          type boolean;
          description
            "When set to true, the timescale and the
             currentUtcOffset are traceable to a primary
             reference.";
        }
        leaf frequency-traceable {
          type boolean;
          description
            "When set to true, the frequency determining the
             timescale is traceable to a primary reference.";
        }
        leaf ptp-timescale {
          type boolean;
          description
            "When set to true, the clock timescale of the
             grandmaster clock is PTP; otherwise, the timescale is
             ARB (arbitrary).";
        }
        leaf time-source {
          type uint8;
          description
            "The source of time used by the grandmaster clock.";
        }
      }
      list port-ds-list {
        key "port-number";
        description
          "List of port data sets of the clock (see IEEE Std
           1588-2008 subclause 8.2.5).";
        reference
          "IEEE Std 1588-2008: 8.2.5";
        leaf port-number {
          type uint16;
          description
            "Port number.
             The data sets (i.e., information model) of IEEE Std
             1588-2008 specify a member portDS.portIdentity, which
             uses a typed struct with members clockIdentity and
             portNumber.

             In this YANG data model, portIdentity is not modeled
             in the port-ds-list.  However, its members are provided
             as follows:
             portIdentity.portNumber is provided as this
             port-number leaf in port-ds-list, and
             portIdentity.clockIdentity is provided as the
             clock-identity leaf in default-ds of the instance
             (i.e., ../../default-ds/clock-identity).";
        }
        leaf port-state {
          type port-state-enumeration;
          default "initializing";
          description
            "Current state associated with the port.";
        }
        leaf underlying-interface {
          type if:interface-ref;

          description
            "Reference to the configured underlying interface that
             is used by this PTP port (see RFC 8343).";
          reference
            "RFC 8343: A YANG Data Model for Interface Management";
        }
        leaf log-min-delay-req-interval {
          type int8;
          description
            "The base-2 logarithm of the minDelayReqInterval
             (the minimum permitted mean time interval between
             successive Delay_Req messages).";
        }
        leaf peer-mean-path-delay {
          type time-interval-type;
          default "0";
          description
            "An estimate of the current one-way propagation delay
             on the link when the delayMechanism is P2P; otherwise,
             it is zero.";
        }
        leaf log-announce-interval {
          type int8;
          description
            "The base-2 logarithm of the mean
             announceInterval (mean time interval between
             successive Announce messages).";
        }
        leaf announce-receipt-timeout {
          type uint8;
          description
            "The number of announceIntervals that have to pass
             without receipt of an Announce message before the
             occurrence of the event ANNOUNCE_RECEIPT_TIMEOUT_
             EXPIRES.";
        }
        leaf log-sync-interval {
          type int8;
          description
            "The base-2 logarithm of the mean SyncInterval
             for multicast messages.  The rates for unicast
             transmissions are negotiated separately on a per-port
             basis and are not constrained by this attribute.";
        }
        leaf delay-mechanism {
          type delay-mechanism-enumeration;

          description
            "The propagation delay measuring option used by the
             port in computing meanPathDelay.";
        }
        leaf log-min-pdelay-req-interval {
          type int8;
          description
            "The base-2 logarithm of the
             minPdelayReqInterval (minimum permitted mean time
             interval between successive Pdelay_Req messages).";
        }
        leaf version-number {
          type uint8;
          description
            "The PTP version in use on the port.";
        }
      }
    }
    container transparent-clock-default-ds {
      description
        "The members of the transparentClockDefault data set (see
         IEEE Std 1588-2008 subclause 8.3.2).";
      reference
        "IEEE Std 1588-2008: 8.3.2";
      leaf clock-identity {
        type clock-identity-type;
        config false;
        description
          "The clockIdentity of the transparent clock.";
      }
      leaf number-ports {
        type uint16;
        description
          "The number of PTP ports on the transparent clock.";
      }
      leaf delay-mechanism {
        type delay-mechanism-enumeration;
        description
          "The propagation delay measuring option
           used by the transparent clock.";
      }
      leaf primary-domain {
        type uint8;
        default "0";
        description
          "The domainNumber of the primary syntonization domain (see
           IEEE Std 1588-2008 subclause 10.1).";

        reference
          "IEEE Std 1588-2008: 10.1";
      }
    }
    list transparent-clock-port-ds-list {
      key "port-number";
      description
        "List of transparentClockPort data sets of the transparent
         clock (see IEEE Std 1588-2008 subclause 8.3.3).";
      reference
        "IEEE Std 1588-2008: 8.3.3";
      leaf port-number {
        type uint16;
        description
          "Port number.
           The data sets (i.e., information model) of IEEE Std
           1588-2008 specify a member
           transparentClockPortDS.portIdentity, which uses a typed
           struct with members clockIdentity and portNumber.

           In this YANG data model, portIdentity is not modeled in
           the transparent-clock-port-ds-list.  However, its
           members are provided as follows:
           portIdentity.portNumber is provided as this leaf member
           in transparent-clock-port-ds-list and
           portIdentity.clockIdentity is provided as the
           clock-identity leaf in transparent-clock-default-ds
           (i.e., ../../transparent-clock-default-ds/clock-
           identity).";
      }
      leaf log-min-pdelay-req-interval {
        type int8;
        description
          "The logarithm to the base 2 of the
           minPdelayReqInterval (minimum permitted mean time
           interval between successive Pdelay_Req messages).";
      }
      leaf faulty-flag {
        type boolean;
        default "false";
        description
          "When set to true, the port is faulty.";
      }
      leaf peer-mean-path-delay {
        type time-interval-type;
        default "0";

        description
          "An estimate of the current one-way propagation delay
           on the link when the delayMechanism is P2P; otherwise,
           it is zero.";
      }
    }
  }
}


module ietf-ptp-annot {

    yang-version "1.1";

    namespace "http://openconfig.net/yang/annotation/ptp-annot";
    prefix "ptp-annot";

    import ietf-interfaces { prefix if; }
    import ietf-ptp { prefix ptp; }

	deviation /ptp:ptp {
		deviate add {
		}
	}

	deviation /ptp:ptp/ptp:instance-list {
		deviate add {
		}
	}

	deviation /ptp:ptp/ptp:instance-list/ptp:current-ds {
		deviate add {
			sonic-ext:table-name "PTP_CURRENTDS";
			sonic-ext:key-transformer "ptpcds_key_xfmr";
		}
	}

	deviation /ptp:ptp/ptp:instance-list/ptp:current-ds/ptp:steps-removed {
		deviate add {
			sonic-ext:field-name "steps_removed";
		}
	}

	deviation /ptp:ptp/ptp:instance-list/ptp:current-ds/ptp:offset-from-master {
		deviate add {
			sonic-ext:field-name "offset_from_master";
		}
	}

	deviation /ptp:ptp/ptp:instance-list/ptp:current-ds/ptp:mean-path-delay {
		deviate add {
			sonic-ext:field-name "mean_path_delay";
		}
	}

	deviation /ptp:ptp/ptp:instance-list/ptp:parent-ds {
		deviate add {
			sonic-ext:table-name "PTP_PARENTDS";
			sonic-ext:key-transformer "ptppds_key_xfmr";
		}
	}

	deviation /ptp:ptp/ptp:instance-list/ptp:parent-ds/ptp:observed-parent-clock-phase-change-rate {
		deviate add {
			sonic-ext:field-name "observed_parent_clock_phase_change_rate";
		}
	}

	deviation /ptp:ptp/ptp:instance-list/ptp:parent-ds/ptp:grandmaster-identity {
		deviate add {
			sonic-ext:field-name "grandmaster_identity";
		}
	}

	deviation /ptp:ptp/ptp:instance-list/ptp:parent-ds/ptp:grandmaster-priority1 {
		deviate add {
			sonic-ext:field-name "grandmaster_priority1";
		}
	}

	deviation /ptp:ptp/ptp:instance-list/ptp:parent-ds/ptp:grandmaster-priority2 {
		deviate add {
			sonic-ext:field-name "grandmaster_priority2";
		}
	}

	deviation /ptp:ptp/ptp:instance-list/ptp:parent-ds/ptp:parent-port-identity {
		deviate add {
			sonic-ext:field-name "parent_port_identity";
		}
	}

	deviation /ptp:ptp/ptp:instance-list/ptp:parent-ds/ptp:parent-port-identity/ptp:port-number {
		deviate add {
			sonic-ext:field-name "port_number";
		}
	}

	deviation /ptp:ptp/ptp:instance-list/ptp:parent-ds/ptp:parent-port-identity/ptp:clock-identity {
		deviate add {
			sonic-ext:field-name "clock_identity";
		}
	}

	deviation /ptp:ptp/ptp:instance-list/ptp:parent-ds/ptp:grandmaster-clock-quality {
		deviate add {
		}
	}

	deviation /ptp:ptp/ptp:instance-list/ptp:parent-ds/ptp:grandmaster-clock-quality/ptp:offset-scaled-log-variance {
		deviate add {
			sonic-ext:field-name "offset_scaled_log_variance";
		}
	}

	deviation /ptp:ptp/ptp:instance-list/ptp:parent-ds/ptp:grandmaster-clock-quality/ptp:clock-class {
		deviate add {
			sonic-ext:field-name "clock_class";
		}
	}

	deviation /ptp:ptp/ptp:instance-list/ptp:parent-ds/ptp:grandmaster-clock-quality/ptp:clock-accuracy {
		deviate add {
			sonic-ext:field-name "clock_accuracy";
		}
	}

	deviation /ptp:ptp/ptp:instance-list/ptp:parent-ds/ptp:parent-stats {
		deviate add {
			sonic-ext:field-name "parent_stats";
		}
	}

	deviation /ptp:ptp/ptp:instance-list/ptp:parent-ds/ptp:observed-parent-offset-scaled-log-variance {
		deviate add {
			sonic-ext:field-name "observed_parent_offset_scaled_log_variance";
		}
	}

	deviation /ptp:ptp/ptp:instance-list/ptp:time-properties-ds {
		deviate add {
			sonic-ext:table-name "PTP_TIMEPROPDS";
			sonic-ext:key-transformer "ptptpds_key_xfmr";
		}
	}

	deviation /ptp:ptp/ptp:instance-list/ptp:time-properties-ds/ptp:time-traceable {
		deviate add {
			sonic-ext:field-name "time_traceable";
		}
	}

	deviation /ptp:ptp/ptp:instance-list/ptp:time-properties-ds/ptp:frequency-traceable {
		deviate add {
			sonic-ext:field-name "frequency_traceable";
		}
	}

	deviation /ptp:ptp/ptp:instance-list/ptp:time-properties-ds/ptp:ptp-timescale {
		deviate add {
			sonic-ext:field-name "ptp_timescale";
		}
	}

	deviation /ptp:ptp/ptp:instance-list/ptp:time-properties-ds/ptp:time-source {
		deviate add {
			sonic-ext:field-name "ptp_timesource";
		}
	}

	deviation /ptp:ptp/ptp:instance-list/ptp:time-properties-ds/ptp:current-utc-offset-valid {
		deviate add {
			sonic-ext:field-name "current_utc_offset_valid";
		}
	}

	deviation /ptp:ptp/ptp:instance-list/ptp:time-properties-ds/ptp:current-utc-offset {
		deviate add {
			sonic-ext:field-name "current_utc_offset";
		}
	}

	deviation /ptp:ptp/ptp:instance-list/ptp:time-properties-ds/ptp:leap59 {
		deviate add {
			sonic-ext:field-name "leap59";
		}
	}

	deviation /ptp:ptp/ptp:instance-list/ptp:time-properties-ds/ptp:leap61 {
		deviate add {
			sonic-ext:field-name "leap61";
		}
	}

	deviation /ptp:ptp/ptp:instance-list/ptp:port-ds-list {
		deviate add {
			sonic-ext:table-name "PTP_PORT";
			sonic-ext:key-transformer "ptp_port_entry_key_xfmr";
		}
	}

	deviation /ptp:ptp/ptp:instance-list/ptp:port-ds-list/ptp:peer-mean-path-delay {
		deviate add {
			sonic-ext:field-name "peer_mean_path_delay";
		}
	}

	deviation /ptp:ptp/ptp:instance-list/ptp:port-ds-list/ptp:announce-receipt-timeout {
		deviate add {
			sonic-ext:field-name "announce_receipt_timeout";
		}
	}

	deviation /ptp:ptp/ptp:instance-list/ptp:port-ds-list/ptp:log-sync-interval {
		deviate add {
			sonic-ext:field-name "log_sync_interval";
		}
	}

	deviation /ptp:ptp/ptp:instance-list/ptp:port-ds-list/ptp:log-min-pdelay-req-interval {
		deviate add {
			sonic-ext:field-name "log_min_pdelay_req_interval";
		}
	}

	deviation /ptp:ptp/ptp:instance-list/ptp:port-ds-list/ptp:version-number {
		deviate add {
			sonic-ext:field-name "version_number";
		}
	}

	deviation /ptp:ptp/ptp:instance-list/ptp:port-ds-list/ptp:port-state {
		deviate add {
			sonic-ext:field-name "port_state";
		}
	}

	deviation /ptp:ptp/ptp:instance-list/ptp:port-ds-list/ptp:underlying-interface {
		deviate add {
			sonic-ext:field-name "underlying_interface";
		}
	}

	deviation /ptp:ptp/ptp:instance-list/ptp:port-ds-list/ptp:log-min-delay-req-interval {
		deviate add {
			sonic-ext:field-name "log_min_delay_req_interval";
		}
	}

	deviation /ptp:ptp/ptp:instance-list/ptp:port-ds-list/ptp:port-number {
		deviate add {
			sonic-ext:field-name "port_number";
		}
	}

	deviation /ptp:ptp/ptp:instance-list/ptp:port-ds-list/ptp:log-announce-interval {
		deviate add {
			sonic-ext:field-name "log_announce_interval";
		}
	}

	deviation /ptp:ptp/ptp:instance-list/ptp:port-ds-list/ptp:delay-mechanism {
		deviate add {
			sonic-ext:field-name "delay_mechanism";
		}
	}

	deviation /ptp:ptp/ptp:instance-list/ptp:instance-number {
		deviate add {
		}
	}

	deviation /ptp:ptp/ptp:instance-list/ptp:default-ds {
		deviate add {
			sonic-ext:table-name "PTP_CLOCK";
			sonic-ext:key-transformer "ptp_entry_key_xfmr";
		}
	}

	deviation /ptp:ptp/ptp:instance-list/ptp:default-ds/ptp:priority1 {
		deviate add {
			sonic-ext:field-name "priority1";
		}
	}

	deviation /ptp:ptp/ptp:instance-list/ptp:default-ds/ptp:priority2 {
		deviate add {
			sonic-ext:field-name "priority2";
		}
	}

	deviation /ptp:ptp/ptp:instance-list/ptp:default-ds/ptp:domain-number {
		deviate add {
			sonic-ext:field-name "domain_number";
		}
	}

	deviation /ptp:ptp/ptp:instance-list/ptp:default-ds/ptp:slave-only {
		deviate add {
			sonic-ext:field-name "slave_only";
		}
	}

	deviation /ptp:ptp/ptp:instance-list/ptp:default-ds/ptp:clock-quality {
		deviate add {
			sonic-ext:field-name "clock_quality";
		}
	}

	deviation /ptp:ptp/ptp:instance-list/ptp:default-ds/ptp:clock-quality/ptp:clock-class {
		deviate add {
			sonic-ext:field-name "clock_class";
		}
	}

	deviation /ptp:ptp/ptp:instance-list/ptp:default-ds/ptp:clock-quality/ptp:clock-accuracy {
		deviate add {
			sonic-ext:field-name "clock_accuracy";
		}
	}

	deviation /ptp:ptp/ptp:instance-list/ptp:default-ds/ptp:clock-quality/ptp:offset-scaled-log-variance {
		deviate add {
			sonic-ext:field-name "offset_scaled_log_variance";
		}
	}

	deviation /ptp:ptp/ptp:instance-list/ptp:default-ds/ptp:two-step-flag {
		deviate add {
			sonic-ext:field-name "two_step_flag";
		}
	}

	deviation /ptp:ptp/ptp:instance-list/ptp:default-ds/ptp:clock-identity {
		deviate add {
			sonic-ext:field-name "clock_identity";
		}
	}

	deviation /ptp:ptp/ptp:instance-list/ptp:default-ds/ptp:number-ports {
		deviate add {
			sonic-ext:field-name "number_ports";
		}
	}

	deviation /ptp:ptp/ptp:transparent-clock-port-ds-list {
		deviate add {
			sonic-ext:table-name "PTP_TC_PORT";
			sonic-ext:key-transformer "ptp_tcport_entry_key_xfmr";
		}
	}

	deviation /ptp:ptp/ptp:transparent-clock-port-ds-list/ptp:log-min-pdelay-req-interval {
		deviate add {
			sonic-ext:field-name "log_min_pdelay_req_interval";
		}
	}

	deviation /ptp:ptp/ptp:transparent-clock-port-ds-list/ptp:faulty-flag {
		deviate add {
			sonic-ext:field-name "faulty_flag";
		}
	}

	deviation /ptp:ptp/ptp:transparent-clock-port-ds-list/ptp:peer-mean-path-delay {
		deviate add {
			sonic-ext:field-name "peer_mean_path_delay";
		}
	}

	deviation /ptp:ptp/ptp:transparent-clock-port-ds-list/ptp:port-number {
		deviate add {
			sonic-ext:field-name "port_number";
		}
	}

	deviation /ptp:ptp/ptp:transparent-clock-default-ds {
		deviate add {
			sonic-ext:table-name "PTP_CLOCK";
			sonic-ext:key-transformer "ptp_entry_key_xfmr";
		}
	}

	deviation /ptp:ptp/ptp:transparent-clock-default-ds/ptp:clock-identity {
		deviate add {
			sonic-ext:field-name "tc_clock_identity";
		}
	}

	deviation /ptp:ptp/ptp:transparent-clock-default-ds/ptp:number-ports {
		deviate add {
			sonic-ext:field-name "tc_number_ports";
		}
	}

	deviation /ptp:ptp/ptp:transparent-clock-default-ds/ptp:delay-mechanism {
		deviate add {
			sonic-ext:field-name "tc_delay_mechanism";
		}
	}

	deviation /ptp:ptp/ptp:transparent-clock-default-ds/ptp:primary-domain {
		deviate add {
			sonic-ext:field-name "tc_primary_domain";
		}
	}

}



Sonic yang


module sonic-ptp {
	namespace "http://github.com/Azure/sonic-ptp";
	prefix sptp;
	yang-version 1.1;

	organization
		"SONiC";

	contact
		"SONiC";

	description
		"SONIC PTP";

	revision 2019-10-08 {
		description
			"Initial revision.";
	}

	container sonic-ptp {
		container PTP_INSTANCE {
			list PTP_INSTANCE_LIST {
				key instance-number;
				leaf instance-number {
					type string {
						pattern "0" {
							error-message "Invalid Instance";
							error-app-tag instane-number-invalid;
						}
					}
				}
			}
		}
		container PTP_CURRENTDS {
			list PTP_CURRENTDS_LIST  {
				key instance-number;
				leaf instance-number {
					type leafref {
						path "../../../PTP_INSTANCE/PTP_INSTANCE_LIST/instance-number";
					}
				}
				leaf steps_removed {
					type uint16;
				}
				leaf offset_from_master {
					type int64;
				}
				leaf mean_path_delay {
					type int64;
				}
			}
		}
		container PTP_PARENTDS {
			list PTP_PARENTDS_LIST {
				key instance-number;
				leaf instance-number {
					type leafref {
						path "../../../PTP_INSTANCE/PTP_INSTANCE_LIST/instance-number";
					}
				}
				leaf observed_parent_clock_phase_change_rate {
					type int32;
				}
				leaf grandmaster_identity {
					type binary {
						length "8";
					}
				}
				leaf grandmaster_priority1 {
					type uint8;
				}
				leaf grandmaster_priority2 {
					type uint8;
				}
				leaf port_number {
					type uint16;
				}
				leaf observed_parent_offset_scaled_log_variance {
					type uint16;
				}
				leaf clock_identity {
					type binary {
						length "8";
					}
				}
				leaf offset_scaled_log_variance {
					type uint16;
				}
				leaf clock_class {
					type uint8;
				}
				leaf clock_accuracy {
					type uint8;
				}
				leaf parent_stats {
					type boolean;
				}
			}
		}
		container PTP_TIMEPROPDS {
			list PTP_TIMEPROPDS_LIST {
				key instance-number;
				leaf instance-number {
					type leafref {
						path "../../../PTP_INSTANCE/PTP_INSTANCE_LIST/instance-number";
					}
				}
				leaf time_traceable {
					type boolean;
				}
				leaf frequency_traceable {
					type boolean;
				}
				leaf ptp_timescale {
					type boolean;
				}
				leaf ptp_timesource {
					type uint8;
				}
				leaf current_utc_offset_valid {
					type boolean;
				}
				leaf current_utc_offset {
					type int16;
				}
				leaf leap59 {
					type boolean;
				}
				leaf leap61 {
					type boolean;
				}
			}
		}
		container PTP_PORT {
			list PTP_PORT_LIST {
				key "instance-number port_number";
				leaf instance-number {
					type leafref {
						path "../../../PTP_INSTANCE/PTP_INSTANCE_LIST/instance-number";
					}
				}
				leaf port_number {
					type uint16;
				}
				leaf peer_mean_path_delay {
					type int64;
				}
				leaf announce_receipt_timeout {
					type int8;
				}
				leaf log_sync_interval {
					type int8;
				}
				leaf log_min_pdelay_req_interval {
					type int8;
				}
				leaf version_number {
					type int8;
				}
				leaf port_state {
					type enumeration {
						enum initializing;
						enum faulty;
						enum disabled;
						enum listening;
						enum pre-master;
						enum master;
						enum passive;
						enum uncalibrated;
						enum slave;
					}
				}
				leaf underlying_interface {
					type string;
				}
				leaf log_min_delay_req_interval {
					type int8;
				}
				leaf log_announce_interval {
					type int8;
				}
				leaf delay_mechanism {
					type enumeration {
						enum e2e;
						enum p2p;
						enum disabled;
					}
				}
			}
		}
		container PTP_TC_PORT {
			list PTP_TC_PORT_LIST {
				key "port_number";
				leaf instance-number {
					type leafref {
						path "../../../PTP_INSTANCE/PTP_INSTANCE_LIST/instance-number";
					}
				}
				leaf port_number {
					type uint16;
				}
				leaf log_min_pdelay_req_interval {
					type int8;
				}
				leaf faulty_flag {
					type boolean;
				}
				leaf peer_mean_path_delay {
					type int64;
				}
			}
		}
		container PTP_CLOCK {
			list PTP_CLOCK_LIST {
				key instance-number;
				leaf instance-number {
					type leafref {
						path "../../../PTP_INSTANCE/PTP_INSTANCE_LIST/instance-number";
					}
				}

				// default-ds attributes
				leaf priority1 {
					type uint8;
				}
				leaf priority2 {
					type uint8;
				}
				leaf domain_number {
					type uint8;
				}
				leaf slave_only {
					type boolean;
				}
				leaf clock_class {
					type uint8;
				}
				leaf clock_accuracy {
					type uint8;
				}
				leaf offset_scaled_log_variance {
					type uint16;
				}
				leaf two_step_flag {
					type boolean;
				}
				leaf clock_identity {
					type binary {
						length "8";
					}
				}
				leaf number_ports {
					type uint16;
				}

				// transparent-clock-default-ds attributes
				leaf tc_clock_identity {
					type binary {
						length "8";
					}
				}
				leaf tc_number_ports {
					type uint16;
				}
				leaf tc_delay_mechanism {
					type enumeration {
						enum e2e;
						enum p2p;
						enum disabled;
					}
				}
				leaf tc_primary_domain {
					type uint8;
				}
			}
		}
	}
}


DB content

127.0.0.1:6379[4]> hset "PTP_INSTANCE|0" "instance-number" 0
(integer) 1
127.0.0.1:6379[4]> keys PTP*
1) "PTP_PARENTDS|GLOBAL"
2) "PTP_PORT|Ethernet0"
3) "PTP_CLOCK|GLOBAL"
4) "PTP_TIMEPROPDS|GLOBAL"
5) "PTP_INSTANCE|0"
6) "PTP_TC_PORT|Ethernet1"
7) "PTP_CURRENTDS|GLOBAL"

@anand-kumar-subramanian I see that the key entry in some redis tables are GLOBAL. How is the instance-number of instance-list being used for the children and how is it represented in redis tables?

How will a query from NBI look like for an inner list/container. Eg: parent-ds?
Also I don't see an annotation for PTP_INSTANCE table. 

How is the instance number  of the outer list mapped to the REDIS TABLES associated with the inner lists/containers?  This association is required when a json response is created for a GET request on the tables associated with "instance-list".

@ranjinidn The requirement for PTP is there will be only one instance for the instance-list and that is the GLOBAL entry. He has used key transformer function to convert this.

var YangToDb_ptpcds_key_xfmr KeyXfmrYangToDb = func(inParams XfmrParams) (string, error) {
    var entry_key string
    var err error
    log.Info("YangToDb_ptpcds_key_xfmr: ", inParams.ygRoot, inParams.uri)

    entry_key = "GLOBAL"

    log.Info("YangToDb_ptpcds_key_xfmr - entry_key : ", entry_key)

    return entry_key, err 
}

var DbToYang_ptpcds_key_xfmr KeyXfmrDbToYang = func(inParams XfmrParams) (map[string]interface{}, error) {
    rmap := make(map[string]interface{})
    var err error
    log.Info("DbToYang_ptpcds_key_xfmr root, uri: ", inParams.ygRoot, inParams.uri)
    rmap["instance-number"] = 0 
    return rmap, err 
}


@ranjinidn But even after doing all this the entry is not getting created as it does not have any value I guess.

To your question on the NBI path, the instance-list will always be 0 from the NBI. If it is something else it is an error.

We have been trying out everything that we can from our end, so the annotation file and the xfmer file may not match but given that here is the content of the xfmer file.

////////////////////////////////////////////////////////////////////////////////
//                                                                            //
//  Copyright 2019 Dell, Inc.                                                 //
//                                                                            //
//  Licensed under the Apache License, Version 2.0 (the "License");           //
//  you may not use this file except in compliance with the License.          //
//  You may obtain a copy of the License at                                   //
//                                                                            //
//  http://www.apache.org/licenses/LICENSE-2.0                                //
//                                                                            //
//  Unless required by applicable law or agreed to in writing, software       //
//  distributed under the License is distributed on an "AS IS" BASIS,         //
//  WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.  //
//  See the License for the specific language governing permissions and       //
//  limitations under the License.                                            //
//                                                                            //
////////////////////////////////////////////////////////////////////////////////

package transformer

import (
	log "github.com/golang/glog"
	"errors"
	"strings"
	"strconv"
	"github.com/openconfig/ygot/ygot"
	"translib/ocbinds"
	"fmt"
)

func init() {
	XlateFuncBind("YangToDb_ptp_entry_key_xfmr", YangToDb_ptp_entry_key_xfmr)
	XlateFuncBind("DbToYang_ptp_entry_key_xfmr", DbToYang_ptp_entry_key_xfmr)
	XlateFuncBind("YangToDb_ptp_port_entry_key_xfmr", YangToDb_ptp_port_entry_key_xfmr)
	XlateFuncBind("DbToYang_ptp_port_entry_key_xfmr", DbToYang_ptp_port_entry_key_xfmr)
	XlateFuncBind("YangToDb_ptpcds_key_xfmr", YangToDb_ptpcds_key_xfmr)
	XlateFuncBind("DbToYang_ptpcds_key_xfmr", DbToYang_ptpcds_key_xfmr)
	XlateFuncBind("YangToDb_ptptpds_key_xfmr", YangToDb_ptptpds_key_xfmr)
	XlateFuncBind("DbToYang_ptptpds_key_xfmr", DbToYang_ptptpds_key_xfmr)
	XlateFuncBind("YangToDb_ptppds_key_xfmr", YangToDb_ptppds_key_xfmr)
	XlateFuncBind("DbToYang_ptppds_key_xfmr", DbToYang_ptppds_key_xfmr)
	XlateFuncBind("YangToDb_ptp_tcport_entry_key_xfmr", YangToDb_ptp_tcport_entry_key_xfmr)
	XlateFuncBind("DbToYang_ptp_tcport_entry_key_xfmr", DbToYang_ptp_tcport_entry_key_xfmr)
	XlateFuncBind("YangToDb_ptp_clock_identity_xfmr", YangToDb_ptp_clock_identity_xfmr)
	XlateFuncBind("DbToYang_ptp_clock_identity_xfmr", DbToYang_ptp_clock_identity_xfmr)
	XlateFuncBind("YangToDb_ptp_boolean_xfmr", YangToDb_ptp_boolean_xfmr)
	XlateFuncBind("DbToYang_ptp_boolean_xfmr", DbToYang_ptp_boolean_xfmr)
	XlateFuncBind("YangToDb_ptp_delay_mech_xfmr", YangToDb_ptp_delay_mech_xfmr)
	XlateFuncBind("DbToYang_ptp_delay_mech_xfmr", DbToYang_ptp_delay_mech_xfmr)
	XlateFuncBind("YangToDb_ptp_port_state_xfmr", YangToDb_ptp_port_state_xfmr)
	XlateFuncBind("DbToYang_ptp_port_state_xfmr", DbToYang_ptp_port_state_xfmr)
}

////////////////////////////////////////////
// Bi-directoonal overloaded methods
////////////////////////////////////////////
var YangToDb_ptp_entry_key_xfmr KeyXfmrYangToDb = func(inParams XfmrParams) (string, error) {
	var entry_key string
	var err error
	log.Info("YangToDb_ptp_entry_key_xfmr: ", inParams.ygRoot, inParams.uri)

	entry_key = "GLOBAL"

	log.Info("YangToDb_ptp_entry_key_xfmr - entry_key : ", entry_key)

	return entry_key, err
}

var DbToYang_ptp_entry_key_xfmr KeyXfmrDbToYang = func(inParams XfmrParams) (map[string]interface{}, error) {
	rmap := make(map[string]interface{})
	var err error
	log.Info("DbToYang_ptp_entry_key_xfmr root, uri: ", inParams.ygRoot, inParams.uri)
	rmap["instance-number"] = 0
	return rmap, err
}

var YangToDb_ptp_port_entry_key_xfmr KeyXfmrYangToDb = func(inParams XfmrParams) (string, error) {
	var entry_key string
	var err error
	log.Info("YangToDb_ptp_port_entry_key_xfmr root, uri: ", inParams.ygRoot, inParams.uri)
	pathInfo := NewPathInfo(inParams.uri)

	log.Info("YangToDb_ptp_port_entry_key_xfmr len(pathInfo.Vars): ", len(pathInfo.Vars))
	if len(pathInfo.Vars) < 2 {
		err = errors.New("Invalid xpath, key attributes not found")
		return entry_key, err
	}

	log.Info("YangToDb_ptp_port_entry_key_xfmr pathInfo.Var:port-number: ", pathInfo.Var("port-number"))
	entry_key = "Ethernet" + pathInfo.Var("port-number")


	log.Info("YangToDb_ptp_port_entry_key_xfmr - entry_key : ", entry_key)

	return entry_key, err
}

var DbToYang_ptp_port_entry_key_xfmr KeyXfmrDbToYang = func(inParams XfmrParams) (map[string]interface{}, error) {
	rmap := make(map[string]interface{})
	var err error

	log.Info("DbToYang_ptp_port_entry_key_xfmr root, uri: ", inParams.ygRoot, inParams.uri)
	entry_key := inParams.key
	log.Info("DbToYang_ptp_port_entry_key_xfmr: ", entry_key)

	portName := entry_key
	port_num := strings.Replace(portName, "Ethernet", "", 1)
	rmap["instance-number"] = 0
	rmap["port-number"], _ = strconv.ParseInt(port_num, 10, 16)
	log.Info("DbToYang_ptp_port_entry_key_xfmr port-number: ", port_num)
	return rmap, err
}

var YangToDb_ptpcds_key_xfmr KeyXfmrYangToDb = func(inParams XfmrParams) (string, error) {
	var entry_key string
	var err error
	log.Info("YangToDb_ptpcds_key_xfmr: ", inParams.ygRoot, inParams.uri)

	entry_key = "GLOBAL"

	log.Info("YangToDb_ptpcds_key_xfmr - entry_key : ", entry_key)

	return entry_key, err
}

var DbToYang_ptpcds_key_xfmr KeyXfmrDbToYang = func(inParams XfmrParams) (map[string]interface{}, error) {
	rmap := make(map[string]interface{})
	var err error
	log.Info("DbToYang_ptpcds_key_xfmr root, uri: ", inParams.ygRoot, inParams.uri)
	rmap["instance-number"] = 0
	return rmap, err
}

var YangToDb_ptptpds_key_xfmr KeyXfmrYangToDb = func(inParams XfmrParams) (string, error) {
	var entry_key string
	var err error
	log.Info("YangToDb_ptptpds_key_xfmr: ", inParams.ygRoot, inParams.uri)

	entry_key = "GLOBAL"

	log.Info("YangToDb_ptptpds_key_xfmr - entry_key : ", entry_key)

	return entry_key, err
}

var DbToYang_ptptpds_key_xfmr KeyXfmrDbToYang = func(inParams XfmrParams) (map[string]interface{}, error) {
	rmap := make(map[string]interface{})
	var err error
	log.Info("DbToYang_ptptpds_key_xfmr root, uri: ", inParams.ygRoot, inParams.uri)
	rmap["instance-number"] = 0
	return rmap, err
}

var YangToDb_ptppds_key_xfmr KeyXfmrYangToDb = func(inParams XfmrParams) (string, error) {
	var entry_key string
	var err error
	log.Info("YangToDb_ptppds_key_xfmr: ", inParams.ygRoot, inParams.uri)

	entry_key = "GLOBAL"

	log.Info("YangToDb_ptppds_key_xfmr - entry_key : ", entry_key)

	return entry_key, err
}

var DbToYang_ptppds_key_xfmr KeyXfmrDbToYang = func(inParams XfmrParams) (map[string]interface{}, error) {
	rmap := make(map[string]interface{})
	var err error
	log.Info("DbToYang_ptppds_key_xfmr root, uri: ", inParams.ygRoot, inParams.uri)
	rmap["instance-number"] = 0
	return rmap, err
}

var YangToDb_ptp_tcport_entry_key_xfmr KeyXfmrYangToDb = func(inParams XfmrParams) (string, error) {
	var entry_key string
	var err error
	log.Info("YangToDb_ptp_tcport_entry_key_xfmr root, uri: ", inParams.ygRoot, inParams.uri)
	pathInfo := NewPathInfo(inParams.uri)

	log.Info("YangToDb_ptp_tcport_entry_key_xfmr len(pathInfo.Vars): ", len(pathInfo.Vars))
	if len(pathInfo.Vars) < 1 {
		err = errors.New("Invalid xpath, key attributes not found")
		return entry_key, err
	}

	log.Info("YangToDb_ptp_tcport_entry_key_xfmr pathInfo.Var:port-number: ", pathInfo.Var("port-number"))
	entry_key = "Ethernet" + pathInfo.Var("port-number")


	log.Info("YangToDb_ptp_tcport_entry_key_xfmr - entry_key : ", entry_key)

	return entry_key, err
}

var DbToYang_ptp_tcport_entry_key_xfmr KeyXfmrDbToYang = func(inParams XfmrParams) (map[string]interface{}, error) {
	rmap := make(map[string]interface{})
	var err error
	log.Info("DbToYang_ptp_tcport_entry_key_xfmr root, uri: ", inParams.ygRoot, inParams.uri)

	entry_key := inParams.key
	log.Info("DbToYang_ptp_tcport_entry_key_xfmr: ", entry_key)

	portName := entry_key
	port_num := strings.Replace(portName, "Ethernet", "", 1)
	rmap["port-number"], _ = strconv.ParseInt(port_num, 10, 16)
	log.Info("DbToYang_ptp_tcport_entry_key_xfmr port-number: ", port_num)
	return rmap, err
}

func getPtpRoot(s *ygot.GoStruct) *ocbinds.IETFPtp_Ptp {
	deviceObj := (*s).(*ocbinds.Device)
	return deviceObj.Ptp
}

var YangToDb_ptp_clock_identity_xfmr FieldXfmrYangToDb = func(inParams XfmrParams) (map[string]string, error) {
	res_map := make(map[string]string)
	var err error
	var field string
	var identity []byte
	if inParams.param == nil {
		log.Info("YangToDb_ptp_clock_identity_xfmr Error: ")
	    return res_map, err
	}
	log.Info("YangToDb_ptp_clock_identity_xfmr : ", *inParams.ygRoot, " Xpath: ", inParams.uri)
	log.Info("YangToDb_ptp_clock_identity_xfmr inParams.key: ", inParams.key)

	ptpObj := getPtpRoot(inParams.ygRoot)

	if strings.Contains(inParams.uri, "grandmaster-identity") {
		identity = ptpObj.InstanceList[0].ParentDs.GrandmasterIdentity
		field = "grandmaster-identity"
	} else if strings.Contains(inParams.uri, "parent-port-identity") {
		identity = ptpObj.InstanceList[0].ParentDs.ParentPortIdentity.ClockIdentity
		field = "clock-identity"
	} else if strings.Contains(inParams.uri, "transparent-clock-default-ds") {
		identity = ptpObj.TransparentClockDefaultDs.ClockIdentity
		field = "clock-identity"
	} else if strings.Contains(inParams.uri, "default-ds") {
		identity = ptpObj.InstanceList[0].DefaultDs.ClockIdentity
		field = "clock-identity"
	}

	
	enc := fmt.Sprintf("%02x%02x%02x.%02x%02x.%02x%02x%02x",
		identity[0], identity[1], identity[2], identity[3], identity[4], identity[5], identity[6], identity[7])

	log.Info("YangToDb_ptp_clock_identity_xfmr enc: ", enc, " field: ", field)
	res_map[field] = enc
	return res_map, err
}

type HardwareId []byte
// ParseIdentity parses an s with the following format
// 010203.0405.0607a08
func ParseIdentity(s string) (hw HardwareId, err error) {
	if len(s) < 18 {
		return nil, fmt.Errorf("Invalid input identity string %s", s)
	}
	fmt.Sscanf(s, "%02x%02x%02x.%02x%02x.%02x%02x%02x", &hw[0], &hw[1], &hw[1], &hw[3], &hw[4], &hw[5], &hw[6], &hw[7], &hw[8])
	return hw, err
}
var DbToYang_ptp_clock_identity_xfmr FieldXfmrDbtoYang = func(inParams XfmrParams) (map[string]interface{}, error) {
	var err error
	result := make(map[string]interface{})
	var hw HardwareId
	data := (*inParams.dbDataMap)[inParams.curDb]
	log.Info("DbToYang_ptp_clock_identity_xfmr ygRoot: ", *inParams.ygRoot, " Xpath: ", inParams.uri, " data: ", data)
	hw,err = ParseIdentity(data["PTP_PARENTDS"][inParams.key].Field["grandmaster-identity"])

	result["grandmaster-identity"] = hw

	return result, err
}

var YangToDb_ptp_boolean_xfmr FieldXfmrYangToDb = func(inParams XfmrParams) (map[string]string, error) {
	res_map := make(map[string]string)
	var err error
	var field string
	var inval bool
	var outval string
	if inParams.param == nil {
		log.Info("YangToDb_ptp_boolean_xfmr Error: ")
	    return res_map, err
	}
	log.Info("YangToDb_ptp_boolean_xfmr : ", *inParams.ygRoot, " Xpath: ", inParams.uri)
	log.Info("YangToDb_ptp_boolean_xfmr inParams.key: ", inParams.key)

	ptpObj := getPtpRoot(inParams.ygRoot)

	if strings.Contains(inParams.uri, "two-step-flag") {
		inval = *ptpObj.InstanceList[0].DefaultDs.TwoStepFlag
		field = "two-step-flag"
	} else if strings.Contains(inParams.uri, "slave-only") {
		inval = *ptpObj.InstanceList[0].DefaultDs.SlaveOnly
		field = "slave-only"
	} else if strings.Contains(inParams.uri, "parent-stats") {
		inval = *ptpObj.InstanceList[0].ParentDs.ParentStats
		field = "parent-stats"
	} else if strings.Contains(inParams.uri, "current-utc-offset-valid") {
		inval = *ptpObj.InstanceList[0].TimePropertiesDs.CurrentUtcOffsetValid
		field = "current-utcoffset-valid"
	} else if strings.Contains(inParams.uri, "leap59") {
		inval = *ptpObj.InstanceList[0].TimePropertiesDs.Leap59
		field = "leap59"
	} else if strings.Contains(inParams.uri, "leap61") {
		inval = *ptpObj.InstanceList[0].TimePropertiesDs.Leap61
		field = "leap61"
	} else if strings.Contains(inParams.uri, "time-traceable") {
		inval = *ptpObj.InstanceList[0].TimePropertiesDs.TimeTraceable
		field = "time-traceable"
	} else if strings.Contains(inParams.uri, "frequency-traceable") {
		inval = *ptpObj.InstanceList[0].TimePropertiesDs.FrequencyTraceable
		field = "frequency-traceable"
	} else if strings.Contains(inParams.uri, "ptp-timescale") {
		inval = *ptpObj.InstanceList[0].TimePropertiesDs.PtpTimescale
		field = "ptp-timescale"
	} else if strings.Contains(inParams.uri, "faulty-flag") {
		/* fix instance number */
		inval = *ptpObj.TransparentClockPortDsList[0].FaultyFlag
		field = "faulty-flag"
	}

	if (inval) {
		outval = "1"
	} else {
		outval = "0"
	}

	log.Info("YangToDb_ptp_boolean_xfmr outval: ", outval, " field: ", field)
	res_map[field] = outval
	return res_map, err
}

var DbToYang_ptp_boolean_xfmr FieldXfmrDbtoYang = func(inParams XfmrParams) (map[string]interface{}, error) {
	var err error
	result := make(map[string]interface{})

	data := (*inParams.dbDataMap)[inParams.curDb]
	log.Info("DbToYang_ptp_boolean_xfmr :", data, inParams.ygRoot)

	return result, err
}

var YangToDb_ptp_delay_mech_xfmr FieldXfmrYangToDb = func(inParams XfmrParams) (map[string]string, error) {
	res_map := make(map[string]string)
	var err error
	var field string
	var inval int32
	var outval string
	if inParams.param == nil {
		log.Info("YangToDb_ptp_delay_mech_xfmr Error: ")
	    return res_map, err
	}
	log.Info("YangToDb_ptp_delay_mech_xfmr : ", *inParams.ygRoot, " Xpath: ", inParams.uri)
	log.Info("YangToDb_ptp_delay_mech_xfmr inParams.key: ", inParams.key)

	ptpObj := getPtpRoot(inParams.ygRoot)

	if strings.Contains(inParams.uri, "port-ds-list") {
		/* fix instance number */
		inval = int32(ptpObj.InstanceList[0].PortDsList[0].DelayMechanism)
		field = "delay-mechanism"
	} else if strings.Contains(inParams.uri, "transparent-clock-default-ds") {
		inval = int32(ptpObj.TransparentClockDefaultDs.DelayMechanism)
		field = "delay-mechanism"
	}

	switch inval {
	case 1:
		outval = "E2E"
	case 2:
		outval = "P2P"

	}

	log.Info("YangToDb_ptp_delay_mech_xfmr outval: ", outval, " field: ", field)
	res_map[field] = outval
	return res_map, err
}

var DbToYang_ptp_delay_mech_xfmr FieldXfmrDbtoYang = func(inParams XfmrParams) (map[string]interface{}, error) {
	var err error
	result := make(map[string]interface{})

	data := (*inParams.dbDataMap)[inParams.curDb]
	log.Info("DbToYang_ptp_delay_mech_xfmr :", data, inParams.ygRoot)

	return result, err
}

var YangToDb_ptp_port_state_xfmr FieldXfmrYangToDb = func(inParams XfmrParams) (map[string]string, error) {
	res_map := make(map[string]string)
	var err error
	var field string
	var outval string
	if inParams.param == nil {
		log.Info("YangToDb_ptp_port_state_xfmr Error: ")
	    return res_map, err
	}
	log.Info("YangToDb_ptp_port_state_xfmr : ", *inParams.ygRoot, " Xpath: ", inParams.uri)
	log.Info("YangToDb_ptp_port_state_xfmr inParams.key: ", inParams.key)

	ptpObj := getPtpRoot(inParams.ygRoot)

	if strings.Contains(inParams.uri, "port-ds-list") {
		/* fix instance number */
		outval = strconv.FormatInt(int64(ptpObj.InstanceList[0].PortDsList[0].PortState), 10)
		field = "port-state"
	}

	log.Info("YangToDb_ptp_port_state_xfmr outval: ", outval, " field: ", field)
	res_map[field] = outval
	return res_map, err
}

var DbToYang_ptp_port_state_xfmr FieldXfmrDbtoYang = func(inParams XfmrParams) (map[string]interface{}, error) {
	var err error
	result := make(map[string]interface{})

	data := (*inParams.dbDataMap)[inParams.curDb]
	log.Info("DbToYang_ptp_port_state_xfmr :", data, inParams.ygRoot)

	

I have added some changes to the latest transformer-phase2 branch with which the get is working for the ietf-ptp.yang.
Please note, **changes are available in transformer-phase2 branch** and will be merged to master soon. Will update the issue once the merge to master is done.

I have used the annotation and the xfmr_ptp.go file that you have provided in this issue.
I added the following transformer function to return the key entry for the instance-list as it does not map to any redis table.

@anand-kumar-subramanian please add these these changes to your change set.
These changes include
1) Annotation file changes
deviation /ptp:ptp/ptp:instance-list {
        deviate add {
                sonic-ext:key-transformer "ptpinstance_key_xfmr";
        }
}
2) New transformer function added to support the above annotation.
var DbToYang_ptpinstance_key_xfmr KeyXfmrDbToYang = func(inParams XfmrParams) (map[string]interface{}, error) {
     rmap := make(map[string]interface{})
     var err error
     rmap["instance-number"] = 0
     return rmap, err
}

var YangToDb_ptpinstance_key_xfmr KeyXfmrYangToDb = func(inParams XfmrParams) (string, error) {
     var inst_key string =  "0"
     var err error

     return inst_key, err
}



@anand-kumar-subramanian there was only key transformer  annotation present for /ptp:ptp/ptp:instance-list  , have now added table name annoation  and  will debug further