Common app complains port-number missing even when key transformer has filled the same

common_app.go:222] ocbinds.Unmarshal()  failed. error:key field port-number

Note below that the port-number field which was filled by the key transformer is missing

"port-ds-list":[{"announce-receipt-timeout":1}]

following is the log indicating the key transformer function was invoked and port-number was populated to 1.

Dec 25 13:04:18.759636 sonic INFO mgmt-framework#supervisord: rest-server I1225 13:04:18.753820      33 xfmr_ptp.go:142] DbToYang_ptp_port_entry_key_xfmr port-number: 1

Also note that a similar translation is happening fine in another table as below.

"transparent-clock-port-ds-list":[{"faulty-flag":true,"log-min-pdelay-req-interval":0,"peer-mean-path-delay":"0","port-number":0}]}

Logs:
Dec 25 13:04:18.759140 sonic INFO mgmt-framework#supervisord: rest-server I1225 13:04:18.753727      33 xfmr_ptp.go:115] YangToDb_ptp_port_entry_key_xfmr len(pathInfo.Vars): 0
Dec 25 13:04:18.759244 sonic INFO mgmt-framework#supervisord: rest-server I1225 13:04:18.753773      33 xfmr_ptp.go:134] DbToYang_ptp_port_entry_key_xfmr root, uri: <nil>/ietf-ptp:ptp/instance-list/port-ds-list
Dec 25 13:04:18.759545 sonic INFO mgmt-framework#supervisord: rest-server I1225 13:04:18.753794      33 xfmr_ptp.go:136] DbToYang_ptp_port_entry_key_xfmr: GLOBAL|Ethernet1
Dec 25 13:04:18.759636 sonic INFO mgmt-framework#supervisord: rest-server I1225 13:04:18.753820      33 xfmr_ptp.go:142] DbToYang_ptp_port_entry_key_xfmr port-number: 1
Dec 25 13:04:18.759696 sonic INFO mgmt-framework#supervisord: rest-server I1225 13:04:18.753899      33 xfmr_ptp.go:149] YangToDb_ptp_global_key_xfmr: 0xc005f52330/ietf-ptp:ptp/instance-list
Dec 25 13:04:18.759696 sonic INFO mgmt-framework#supervisord: rest-server I1225 13:04:18.753923      33 xfmr_ptp.go:153] YangToDb_ptp_global_key_xfmr - entry_key : GLOBAL
Dec 25 13:04:18.759696 sonic INFO mgmt-framework#supervisord: rest-server I1225 13:04:18.753958      33 xfmr_ptp.go:112] YangToDb_ptp_port_entry_key_xfmr root, uri: 0xc005f52330/ietf-ptp:ptp/instance-list/port-ds-list[port-number=1]
<snip>
Dec 25 13:04:18.789475 sonic INFO mgmt-framework#supervisord: rest-server I1225 13:04:18.764159      33 xlate.go:366] Payload generated:{"instance-list":[{"current-ds":{"mean-path-delay":"0","offset-from-master":"0","steps-removed":0},"parent-ds":{"grandmaster-clock-quality":{"clock-accuracy":0,"clock-class":0,"offset-scaled-log-variance":0},"grandmaster-identity":"MTIzNDU2Nzg=","grandmaster-priority1":0,"grandmaster-priority2":0,"observed-parent-clock-phase-change-rate":0,"observed-parent-offset-scaled-log-variance":0,"parent-port-identity":{"clock-identity":"MTIzNDU2Nzg=","port-number":0},"parent-stats":true},"port-ds-list":[{"announce-receipt-timeout":1}],"time-properties-ds":{"current-utc-offset":0,"time-source":0}}],"transparent-clock-default-ds":{"delay-mechanism":"e2e","number-ports":0,"primary-domain":0},"transparent-clock-port-ds-list":[{"faulty-flag":true,"log-min-pdelay-req-interval":0,"peer-mean-path-delay":"0","port-number":0}]}
Dec 25 13:04:18.789493 sonic INFO mgmt-framework#supervisord: rest-server E1225 13:04:18.765355      33 common_app.go:222] ocbinds.Unmarshal()  failed. error:key field port-number (*uint16) has nil value <nil>
Dec 25 13:04:18.789493 sonic INFO mgmt-framework#supervisord: rest-server I1225 13:04:18.765391      33 db.go:358] DeleteDB: Begin: d: { client: Redis<localhost:6379 db:0>, Opts: { DBNo: 0, InitIndicator: , TableNameSeparator: :, KeySeparator: : , DisableCVLCheck: false }, txState: txStateNone, tsCmds: [] }
Dec 25 13:04:18.789533 sonic INFO mgmt-framework#supervisord: rest-server I1225 13:04:18.765456      33 db.go:358] DeleteDB: Begin: d: { client: Redis<localhost:6379 db:1>, Opts: { DBNo: 1, InitIndicator: , TableNameSeparator: |, KeySeparator: | , DisableCVLCheck: false }, txState: txStateNone, tsCmds: [] }
Dec 25 13:04:18.789533 sonic INFO mgmt-framework#supervisord: rest-server I1225 13:04:18.765517      33 db.go:358] DeleteDB: Begin: d: { client: Redis<localhost:6379 db:2>, Opts: { DBNo: 2, InitIndicator: , TableNameSeparator: :, KeySeparator: : , DisableCVLCheck: false }, txState: txStateNone, tsCmds: [] }
Dec 25 13:04:18.789554 sonic INFO mgmt-framework#supervisord: rest-server I1225 13:04:18.765555      33 db.go:358] DeleteDB: Begin: d: { client: Redis<localhost:6379 db:3>, Opts: { DBNo: 3, InitIndicator: , TableNameSeparator: |, KeySeparator: | , DisableCVLCheck: false }, txState: txStateNone, tsCmds: [] }
Dec 25 13:04:18.789570 sonic INFO mgmt-framework#supervisord: rest-server I1225 13:04:18.765602      33 db.go:358] DeleteDB: Begin: d: { client: Redis<localhost:6379 db:4>, Opts: { DBNo: 4, InitIndicator: , TableNameSeparator: |, KeySeparator: | , DisableCVLCheck: false }, txState: txStateNone, tsCmds: [] }
Dec 25 13:04:18.789570 sonic INFO mgmt-framework#supervisord: rest-server I1225 13:04:18.765933      33 db.go:358] DeleteDB: Begin: d: { client: Redis<localhost:6379 db:5>, Opts: { DBNo: 5, InitIndicator: , TableNameSeparator: |, KeySeparator: | , DisableCVLCheck: false }, txState: txStateNone, tsCmds: [] }
Dec 25 13:04:18.789616 sonic INFO mgmt-framework#supervisord: rest-server I1225 13:04:18.766005      33 db.go:358] DeleteDB: Begin: d: { client: Redis<localhost:6379 db:6>, Opts: { DBNo: 6, InitIndicator: , TableNameSeparator: |, KeySeparator: | , DisableCVLCheck: false }, txState: txStateNone, tsCmds: [] }
Dec 25 13:04:18.789616 sonic INFO mgmt-framework#supervisord: rest-server E1225 13:04:18.766047      33 handler.go:59] [REST-4] Translib error *errors.errorString - key field port-number (*uint16) has nil value <nil>
Dec 25 13:04:18.789616 sonic INFO mgmt-framework#supervisord: rest-server I1225 13:04:18.766100      33 handler.go:72] [REST-4] Sending response 500, type=application/yang-data+json, data={"ietf-restconf:errors":{"error":[{"error-type":"application","error-tag":"operation-failed"}]}}
Dec 25 13:04:18.789659 sonic INFO mgmt-framework#supervisord: rest-server I1225 13:04:18.766140      33 router.go:128] [REST-4] GetIetfPtpPtp took 30.479615ms
Dec 25 13:04:18.801795 sonic DEBUG admin: admin [9826]: curl -X GET "https://10.59.143.147/restconf/data/ietf-ptp:ptp" -H "accept: application/yang-data+json" -k

redis:
127.0.0.1:6379[4]> keys PTP*
1) "PTP_PORT|GLOBAL|Ethernet1"
2) "PTP_CLOCK|GLOBAL"
3) "PTP_CURRENTDS|GLOBAL"
4) "PTP_TC_PORT|Ethernet0"
5) "PTP_PARENTDS|GLOBAL"
6) "PTP_TIMEPROPDS|GLOBAL"
7) "PTP_TC_CLOCK|GLOBAL"
8) "PTP_INSTANCE|GLOBAL”
127.0.0.1:6379[4]> hgetall "PTP_PORT|GLOBAL|Ethernet1"
1) "announce-receipt-timeout"
2) "1"
127.0.0.1:6379[4]> hgetall "PTP_TC_PORT|Ethernet0"
1) "faulty-flag"
2) "1"
3) "log-min-pdelay-req-interval"
4) "0"
5) "peer-mean-path-delay"
6) “0"

annotation file for port-ds-list:

        deviation /ptp:ptp/ptp:instance-list/ptp:port-ds-list {
                deviate add {
                        sonic-ext:table-name "PTP_PORT";
                        sonic-ext:key-transformer "ptp_port_entry_key_xfmr";
                }
        }


xfmr_ptp_go code snippet:
    XlateFuncBind("YangToDb_ptp_port_entry_key_xfmr", YangToDb_ptp_port_entry_key_xfmr)
    XlateFuncBind("DbToYang_ptp_port_entry_key_xfmr", DbToYang_ptp_port_entry_key_xfmr)


var YangToDb_ptp_port_entry_key_xfmr KeyXfmrYangToDb = func(inParams XfmrParams) (string, error) {
    var entry_key string
    var err error
    log.Info("YangToDb_ptp_port_entry_key_xfmr root, uri: ", inParams.ygRoot, inParams.uri)
    pathInfo := NewPathInfo(inParams.uri)

    log.Info("YangToDb_ptp_port_entry_key_xfmr len(pathInfo.Vars): ", len(pathInfo.Vars))
    if len(pathInfo.Vars) < 2 {
        err = errors.New("Invalid xpath, key attributes not found")
        return entry_key, err
    }

    log.Info("YangToDb_ptp_port_entry_key_xfmr pathInfo.Var:port-number: ", pathInfo.Var("port-number"))
    entry_key = "GLOBAL|Ethernet" + pathInfo.Var("port-number")


    log.Info("YangToDb_ptp_port_entry_key_xfmr - entry_key : ", entry_key)

    return entry_key, err
}

var DbToYang_ptp_port_entry_key_xfmr KeyXfmrDbToYang = func(inParams XfmrParams) (map[string]interface{}, error) {
    rmap := make(map[string]interface{})
    var err error

    log.Info("DbToYang_ptp_port_entry_key_xfmr root, uri: ", inParams.ygRoot, inParams.uri)
    entry_key := inParams.key
    log.Info("DbToYang_ptp_port_entry_key_xfmr: ", entry_key)

    portName := entry_key
    port_num := strings.Replace(portName, "GLOBAL|Ethernet", "", 1)
    // rmap["instance-number"] = 0
    rmap["port-number"], _ = strconv.ParseInt(port_num, 10, 16)
    log.Info("DbToYang_ptp_port_entry_key_xfmr port-number: ", port_num)
    return rmap, err
}

/tmp/dbToYangJson.txt:
-----------------------------------------------------------------
{"instance-list":[{"current-ds":{"mean-path-delay":"0","offset-from-master":"0","steps-removed":0},"parent-ds":{"grandmaster-clock-quality":{"clock-accuracy":0,"clock-class":0,"offset-scaled-log-variance":0},"grandmaster-identity":"MTIzNDU2Nzg=","grandmaster-priority1":0,"grandmaster-priority2":0,"observed-parent-clock-phase-change-rate":0,"observed-parent-offset-scaled-log-variance":0,"parent-port-identity":{"clock-identity":"MTIzNDU2Nzg=","port-number":0},"parent-stats":true},"port-ds-list":[{"announce-receipt-timeout":1}],"time-properties-ds":{"current-utc-offset":0,"time-source":0}}],"transparent-clock-default-ds":{"delay-mechanism":"e2e","number-ports":0,"primary-domain":0},"transparent-clock-port-ds-list":[{"faulty-flag":true,"log-min-pdelay-req-interval":0,"peer-mean-path-delay":"0","port-number":0}]}
-----------------------------------------------------------------

@anand-kumar-subramanian can you share your latest ietf-ptp.yang, sonic-ptp.yang and annotation file and the xfmt_ptp.go file?

sonic-ptp-yang:
module sonic-ptp {
	namespace "http://github.com/Azure/sonic-ptp";
	prefix sptp;
	yang-version 1.1;

	organization
		"SONiC";

	contact
		"SONiC";

	description
		"SONIC PTP";

	revision 2019-10-08 {
		description
			"Initial revision.";
	}

	container sonic-ptp {
		container PTP_INSTANCE {
			list PTP_INSTANCE_LIST {
				key instance-number;
				leaf instance-number {
					type string;
				}
			}
		}
		container PTP_CURRENTDS {
			list PTP_CURRENTDS_LIST  {
				key instance-number;
				leaf instance-number {
					type leafref {
						path "../../../PTP_INSTANCE/PTP_INSTANCE_LIST/instance-number";
					}
				}
				leaf steps-removed {
					type uint16;
				}
				leaf offset-from-master {
					type int64;
				}
				leaf mean-path-delay {
					type int64;
				}
			}
		}
		container PTP_TC_CLOCK {
			list PTP_TC_CLOCK_LIST {
				key instance-number;
				leaf instance-number {
					type string {
						pattern "GLOBAL" {
							error-message "Invalid Instance";
							error-app-tag instance-number-invalid;
						}
					}
				}
				leaf clock-identity {
					type string;
				}
				leaf number-ports {
					type uint16;
				}
				leaf delay-mechanism {
					type string;
				}
				leaf primary-domain {
					type uint8;
				}
			}
		}
		container PTP_PARENTDS {
			list PTP_PARENTDS_LIST {
				key instance-number;
				leaf instance-number {
					type leafref {
						path "../../../PTP_INSTANCE/PTP_INSTANCE_LIST/instance-number";
					}
				}
				leaf observed-parent-clock-phase-change-rate {
					type int32;
				}
				leaf grandmaster-identity {
					type string;
				}
				leaf grandmaster-priority1 {
					type uint8;
				}
				leaf grandmaster-priority2 {
					type uint8;
				}
				leaf port-number {
					type uint16;
				}
				leaf observed-parent-offset-scaled-log-variance {
					type uint16;
				}
				leaf clock-identity {
					type string;
				}
				leaf offset-scaled-log-variance {
					type uint16;
				}
				leaf clock-class {
					type uint8;
				}
				leaf clock-accuracy {
					type uint8;
				}
				leaf parent-stats {
					type uint8;
				}
			}
		}
		container PTP_TIMEPROPDS {
			list PTP_TIMEPROPDS_LIST {
				key instance-number;
				leaf instance-number {
					type leafref {
						path "../../../PTP_INSTANCE/PTP_INSTANCE_LIST/instance-number";
					}
				}
				leaf time-traceable {
					type uint8;
				}
				leaf frequency-traceable {
					type uint8;
				}
				leaf ptp-timescale {
					type uint8;
				}
				leaf time-source {
					type uint8;
				}
				leaf current-utc-offset-valid {
					type uint8;
				}
				leaf current-utc-offset {
					type int16;
				}
				leaf leap59 {
					type uint8;
				}
				leaf leap61 {
					type uint8;
				}
			}
		}
		container PTP_PORT {
			list PTP_PORT_LIST {
				key "instance-number port-number";
				leaf instance-number {
					type leafref {
						path "../../../PTP_INSTANCE/PTP_INSTANCE_LIST/instance-number";
					}
				}
				leaf port-number {
					type string;
				}
				leaf peer-mean-path-delay {
					type int64;
				}
				leaf announce-receipt-timeout {
					type int8;
				}
				leaf log-sync-interval {
					type int8;
				}
				leaf log-min-pdelay-req-interval {
					type int8;
				}
				leaf version-number {
					type int8;
				}
				leaf port-state {
					type uint8;
				}
				leaf underlying-interface {
					type string;
				}
				leaf log-min-delay-req-interval {
					type int8;
				}
				leaf log-announce-interval {
					type int8;
				}
				leaf delay-mechanism {
					type string;
				}
			}
		}
		container PTP_TC_PORT {
			list PTP_TC_PORT_LIST {
				key "port-number";
				leaf port-number {
					type string;
				}
				leaf log-min-pdelay-req-interval {
					type int8;
				}
				leaf faulty-flag {
					type uint8;
				}
				leaf peer-mean-path-delay {
					type int64;
				}
			}
		}
		container PTP_CLOCK {
			list PTP_CLOCK_LIST {
				key instance-number;
				leaf instance-number {
					type leafref {
						path "../../../PTP_INSTANCE/PTP_INSTANCE_LIST/instance-number";
					}
				}

				// default-ds attributes
				leaf priority1 {
					type uint8;
				}
				leaf priority2 {
					type uint8;
				}
				leaf domain-number {
					type uint8;
				}
				leaf slave-only {
					type uint8;
				}
				leaf clock-class {
					type uint8;
				}
				leaf clock-accuracy {
					type uint8;
				}
				leaf offset-scaled-log-variance {
					type uint16;
				}
				leaf two-step-flag {
					type uint8;
				}
				leaf clock-identity {
					type string;
				}
				leaf number-ports {
					type uint16;
				}

			}
		}
	}
}

ietf-ptp.yang:
module ietf-ptp {
  yang-version 1.1;
  namespace "urn:ietf:params:xml:ns:yang:ietf-ptp";
  prefix ptp;

  import ietf-interfaces {
    prefix if;
    reference
      "RFC 8343: A YANG Data Model for Interface Management";
  }

  organization
    "IETF TICTOC Working Group";
  contact
    "WG Web:   https://datatracker.ietf.org/wg/tictoc/
     WG List:  <mailto:tictoc@ietf.org>
     Editor:   Yuanlong Jiang
               <mailto:jiangyuanlong@huawei.com>
     Editor:   Rodney Cummings
               <mailto:rodney.cummings@ni.com>";
  description
    "This YANG module defines a data model for the configuration
     of IEEE Std 1588-2008 clocks, and also for retrieval of the state
     data of IEEE Std 1588-2008 clocks.";

  revision 2019-05-07 {
    description
      "Initial version";
    reference
      "RFC 8575: YANG Data Model for the Precision Time Protocol";
  }

  typedef delay-mechanism-enumeration {
    type enumeration {
      enum e2e {
        value 1;
        description
          "The port uses the delay request-response mechanism.";
      }
      enum p2p {
        value 2;
        description
          "The port uses the peer delay mechanism.";
      }
      enum disabled {
        value 254;
        description
          "The port does not implement any delay mechanism.";
      }
    }
    description
      "The propagation-delay measuring option used by the
       port.  Values for this enumeration are specified
       by the IEEE Std 1588 standard exclusively.";
    reference
      "IEEE Std 1588-2008: 8.2.5.4.4";
  }

  typedef port-state-enumeration {
    type enumeration {
      enum initializing {
        value 1;
        description
          "The port is initializing its data sets, hardware, and
           communication facilities.";
      }
      enum faulty {
        value 2;
        description
          "The port is in the fault state.";
      }
      enum disabled {
        value 3;
        description
          "The port is disabled and is not communicating PTP
           messages (other than possibly PTP management
           messages).";
      }
      enum listening {
        value 4;
        description
          "The port is listening for an Announce message.";
      }
      enum pre-master {
        value 5;
        description
          "The port is in the pre-master state.";
      }
      enum master {
        value 6;
        description
          "The port is behaving as a master port.";
      }
      enum passive {
        value 7;
        description
          "The port is in the passive state.";
      }
      enum uncalibrated {
        value 8;
        description
          "A master port has been selected, but the port is still
           in the uncalibrated state.";
      }
      enum slave {
        value 9;
        description
          "The port is synchronizing to the selected master port.";
      }
    }
    description
      "The current state of the protocol engine associated
       with the port.  Values for this enumeration are specified
       by the IEEE Std 1588 standard exclusively.";
    reference
      "IEEE Std 1588-2008: 8.2.5.3.1, 9.2.5";
  }

  typedef time-interval-type {
    type int64;
    description
      "Derived data type for time interval, represented in units of
        nanoseconds and multiplied by 2^16";
    reference
      "IEEE Std 1588-2008: 5.3.2";
  }

  typedef clock-identity-type {
    type binary {
      length "8";
    }
    description
      "Derived data type to identify a clock";
    reference
      "IEEE Std 1588-2008: 5.3.4";
  }

  grouping clock-quality-grouping {
    description
      "Derived data type for quality of a clock, which contains
       clockClass, clockAccuracy, and offsetScaledLogVariance.";
    reference
      "IEEE Std 1588-2008: 5.3.7";
    leaf clock-class {
      type uint8;
      default "248";
      description
        "The clockClass denotes the traceability of the time
         or frequency distributed by the clock.";
    }
    leaf clock-accuracy {
      type uint8;
      description
        "The clockAccuracy indicates the expected accuracy
         of the clock.";
    }
    leaf offset-scaled-log-variance {
      type uint16;
      description
        "The offsetScaledLogVariance provides an estimate of
         the variations of the clock from a linear timescale
         when it is not synchronized to another clock
         using the protocol.";
    }
  }

  container ptp {
    description
      "The PTP struct containing all attributes of PTP data set,
        other optional PTP attributes can be augmented as well.";
    list instance-list {
      key "instance-number";
      description
        "List of one or more PTP data sets in the device (see IEEE
         Std 1588-2008 subclause 6.3).
         Each PTP data set represents a distinct instance of
         PTP implementation in the device (i.e., distinct
         Ordinary Clock or Boundary Clock).";
      leaf instance-number {
        type uint32;
        description
          "The instance number of the current PTP instance.
           This instance number is used for management purposes
           only.  This instance number does not represent the PTP
           domain number and is not used in PTP messages.";
      }
      container default-ds {
        description
          "The default data set of the clock (see IEEE Std
           1588-2008 subclause 8.2.1).  This data set represents
           the configuration/state required for operation
           of Precision Time Protocol (PTP) state machines.";
        reference
          "IEEE Std 1588-2008: 8.2.1";
        leaf two-step-flag {
          type boolean;
          description
            "When set to true, the clock is a two-step clock;
             otherwise,the clock is a one-step clock.";
        }
        leaf clock-identity {
          type clock-identity-type;
          config false;
          description
            "The clockIdentity of the local clock.";
        }
        leaf number-ports {
          type uint16;
          description
            "The number of PTP ports on the instance.";
        }
        container clock-quality {
          description
            "The clockQuality of the local clock.";
          uses clock-quality-grouping;
        }
        leaf priority1 {
          type uint8;
          description
            "The priority1 attribute of the local clock.";
        }
        leaf priority2 {
          type uint8;
          description
            "The priority2 attribute of the local clock.";
        }
        leaf domain-number {
          type uint8;
          description
            "The domain number of the current syntonization
             domain.";
        }
        leaf slave-only {
          type boolean;
          description
            "When set to true, the clock is a slave-only clock.";
        }
      }
      container current-ds {
        description
          "The current data set of the clock (see IEEE Std
           1588-2008 subclause 8.2.2).  This data set represents
           local states learned from the exchange of
           Precision Time Protocol (PTP) messages.";
        reference
          "IEEE Std 1588-2008: 8.2.2";
        leaf steps-removed {
          type uint16;
          default "0";
          description
            "The number of communication paths traversed
             between the local clock and the grandmaster clock.";
        }
        leaf offset-from-master {
          type time-interval-type;
          description
            "The current value of the time difference between
             a master and a slave clock as computed by the slave.";
        }
        leaf mean-path-delay {
          type time-interval-type;
          description
            "The current value of the mean propagation time between
             a master and a slave clock as computed by the slave.";
        }
      }
      container parent-ds {
        description
          "The parent data set of the clock (see IEEE Std 1588-2008
           subclause 8.2.3).";
        reference
          "IEEE Std 1588-2008: 8.2.3";
        container parent-port-identity {
          description
            "The portIdentity of the port on the master, it
             contains two members: clockIdentity and portNumber.";
          reference
            "IEEE Std 1588-2008: 5.3.5";
          leaf clock-identity {
            type clock-identity-type;

            description
              "Identity of the clock.";
          }
          leaf port-number {
            type uint16;
            description
              "Port number.";
          }
        }
        leaf parent-stats {
          type boolean;
          default "false";
          description
            "When set to true, the values of
             observedParentOffsetScaledLogVariance and
             observedParentClockPhaseChangeRate of parentDS
             have been measured and are valid.";
        }
        leaf observed-parent-offset-scaled-log-variance {
          type uint16;
          default "65535";
          description
            "An estimate of the parent clock's PTP variance
             as observed by the slave clock.";
        }
        leaf observed-parent-clock-phase-change-rate {
          type int32;
          description
            "An estimate of the parent clock's phase change rate
             as observed by the slave clock.";
        }
        leaf grandmaster-identity {
          type clock-identity-type;
          description
            "The clockIdentity attribute of the grandmaster clock.";
        }
        container grandmaster-clock-quality {
          description
            "The clockQuality of the grandmaster clock.";
          uses clock-quality-grouping;
        }
        leaf grandmaster-priority1 {
          type uint8;
          description
            "The priority1 attribute of the grandmaster clock.";
        }
        leaf grandmaster-priority2 {
          type uint8;
          description
            "The priority2 attribute of the grandmaster clock.";
        }
      }
      container time-properties-ds {
        description
          "The timeProperties data set of the clock (see
           IEEE Std 1588-2008 subclause 8.2.4).";
        reference
          "IEEE Std 1588-2008: 8.2.4";
        leaf current-utc-offset-valid {
          type boolean;
          description
            "When set to true, the current UTC offset is valid.";
        }
        leaf current-utc-offset {
          when "../current-utc-offset-valid='true'";
          type int16;
          description
            "The offset between TAI and UTC when the epoch of the
             PTP system is the PTP epoch in units of seconds, i.e.,
             when ptp-timescale is TRUE; otherwise, the value has
             no meaning.";
        }
        leaf leap59 {
          type boolean;
          description
            "When set to true, the last minute of the current UTC
             day contains 59 seconds.";
        }
        leaf leap61 {
          type boolean;
          description
            "When set to true, the last minute of the current UTC
             day contains 61 seconds.";
        }
        leaf time-traceable {
          type boolean;
          description
            "When set to true, the timescale and the
             currentUtcOffset are traceable to a primary
             reference.";
        }
        leaf frequency-traceable {
          type boolean;
          description
            "When set to true, the frequency determining the
             timescale is traceable to a primary reference.";
        }
        leaf ptp-timescale {
          type boolean;
          description
            "When set to true, the clock timescale of the
             grandmaster clock is PTP; otherwise, the timescale is
             ARB (arbitrary).";
        }
        leaf time-source {
          type uint8;
          description
            "The source of time used by the grandmaster clock.";
        }
      }
      list port-ds-list {
        key "port-number";
        description
          "List of port data sets of the clock (see IEEE Std
           1588-2008 subclause 8.2.5).";
        reference
          "IEEE Std 1588-2008: 8.2.5";
        leaf port-number {
          type uint16;
          description
            "Port number.
             The data sets (i.e., information model) of IEEE Std
             1588-2008 specify a member portDS.portIdentity, which
             uses a typed struct with members clockIdentity and
             portNumber.

             In this YANG data model, portIdentity is not modeled
             in the port-ds-list.  However, its members are provided
             as follows:
             portIdentity.portNumber is provided as this
             port-number leaf in port-ds-list, and
             portIdentity.clockIdentity is provided as the
             clock-identity leaf in default-ds of the instance
             (i.e., ../../default-ds/clock-identity).";
        }
        leaf port-state {
          type port-state-enumeration;
          default "initializing";
          description
            "Current state associated with the port.";
        }
        leaf underlying-interface {
          type if:interface-ref;

          description
            "Reference to the configured underlying interface that
             is used by this PTP port (see RFC 8343).";
          reference
            "RFC 8343: A YANG Data Model for Interface Management";
        }
        leaf log-min-delay-req-interval {
          type int8;
          description
            "The base-2 logarithm of the minDelayReqInterval
             (the minimum permitted mean time interval between
             successive Delay_Req messages).";
        }
        leaf peer-mean-path-delay {
          type time-interval-type;
          default "0";
          description
            "An estimate of the current one-way propagation delay
             on the link when the delayMechanism is P2P; otherwise,
             it is zero.";
        }
        leaf log-announce-interval {
          type int8;
          description
            "The base-2 logarithm of the mean
             announceInterval (mean time interval between
             successive Announce messages).";
        }
        leaf announce-receipt-timeout {
          type uint8;
          description
            "The number of announceIntervals that have to pass
             without receipt of an Announce message before the
             occurrence of the event ANNOUNCE_RECEIPT_TIMEOUT_
             EXPIRES.";
        }
        leaf log-sync-interval {
          type int8;
          description
            "The base-2 logarithm of the mean SyncInterval
             for multicast messages.  The rates for unicast
             transmissions are negotiated separately on a per-port
             basis and are not constrained by this attribute.";
        }
        leaf delay-mechanism {
          type delay-mechanism-enumeration;

          description
            "The propagation delay measuring option used by the
             port in computing meanPathDelay.";
        }
        leaf log-min-pdelay-req-interval {
          type int8;
          description
            "The base-2 logarithm of the
             minPdelayReqInterval (minimum permitted mean time
             interval between successive Pdelay_Req messages).";
        }
        leaf version-number {
          type uint8;
          description
            "The PTP version in use on the port.";
        }
      }
    }
    container transparent-clock-default-ds {
      description
        "The members of the transparentClockDefault data set (see
         IEEE Std 1588-2008 subclause 8.3.2).";
      reference
        "IEEE Std 1588-2008: 8.3.2";
      leaf clock-identity {
        type clock-identity-type;
        config false;
        description
          "The clockIdentity of the transparent clock.";
      }
      leaf number-ports {
        type uint16;
        description
          "The number of PTP ports on the transparent clock.";
      }
      leaf delay-mechanism {
        type delay-mechanism-enumeration;
        description
          "The propagation delay measuring option
           used by the transparent clock.";
      }
      leaf primary-domain {
        type uint8;
        default "0";
        description
          "The domainNumber of the primary syntonization domain (see
           IEEE Std 1588-2008 subclause 10.1).";

        reference
          "IEEE Std 1588-2008: 10.1";
      }
    }
    list transparent-clock-port-ds-list {
      key "port-number";
      description
        "List of transparentClockPort data sets of the transparent
         clock (see IEEE Std 1588-2008 subclause 8.3.3).";
      reference
        "IEEE Std 1588-2008: 8.3.3";
      leaf port-number {
        type uint16;
        description
          "Port number.
           The data sets (i.e., information model) of IEEE Std
           1588-2008 specify a member
           transparentClockPortDS.portIdentity, which uses a typed
           struct with members clockIdentity and portNumber.

           In this YANG data model, portIdentity is not modeled in
           the transparent-clock-port-ds-list.  However, its
           members are provided as follows:
           portIdentity.portNumber is provided as this leaf member
           in transparent-clock-port-ds-list and
           portIdentity.clockIdentity is provided as the
           clock-identity leaf in transparent-clock-default-ds
           (i.e., ../../transparent-clock-default-ds/clock-
           identity).";
      }
      leaf log-min-pdelay-req-interval {
        type int8;
        description
          "The logarithm to the base 2 of the
           minPdelayReqInterval (minimum permitted mean time
           interval between successive Pdelay_Req messages).";
      }
      leaf faulty-flag {
        type boolean;
        default "false";
        description
          "When set to true, the port is faulty.";
      }
      leaf peer-mean-path-delay {
        type time-interval-type;
        default "0";

        description
          "An estimate of the current one-way propagation delay
           on the link when the delayMechanism is P2P; otherwise,
           it is zero.";
      }
    }
  }
}


annotation yang:
module ietf-ptp-annot {

    yang-version "1.1";

    namespace "http://openconfig.net/yang/annotation/ptp-annot";
    prefix "ptp-annot";

    import ietf-interfaces { prefix if; }
    import ietf-ptp { prefix ptp; }

	deviation /ptp:ptp {
		deviate add {
		}
	}

	deviation /ptp:ptp/ptp:instance-list {
		deviate add {
			sonic-ext:table-name "PTP_INSTANCE";
			// sonic-ext:key-transformer "ptp_global_key_xfmr";
			//sonic-ext:db-name "STATE_DB";
		}
	}

	deviation /ptp:ptp/ptp:instance-list/ptp:current-ds {
		deviate add {
			sonic-ext:table-name "PTP_CURRENTDS";
			sonic-ext:key-transformer "ptp_global_key_xfmr";
			//sonic-ext:db-name "STATE_DB";
		}
	}

	deviation /ptp:ptp/ptp:instance-list/ptp:current-ds/ptp:steps-removed {
		deviate add {
			sonic-ext:field-name "steps-removed";
		}
	}

	deviation /ptp:ptp/ptp:instance-list/ptp:current-ds/ptp:offset-from-master {
		deviate add {
			sonic-ext:field-name "offset-from-master";
		}
	}

	deviation /ptp:ptp/ptp:instance-list/ptp:current-ds/ptp:mean-path-delay {
		deviate add {
			sonic-ext:field-name "mean-path-delay";
		}
	}

	deviation /ptp:ptp/ptp:instance-list/ptp:parent-ds {
		deviate add {
			sonic-ext:table-name "PTP_PARENTDS";
			sonic-ext:key-transformer "ptp_global_key_xfmr";
		}
	}

	deviation /ptp:ptp/ptp:instance-list/ptp:parent-ds/ptp:observed-parent-clock-phase-change-rate {
		deviate add {
			sonic-ext:field-name "observed-parent-clock-phase-change-rate";
		}
	}

	deviation /ptp:ptp/ptp:instance-list/ptp:parent-ds/ptp:grandmaster-identity {
		deviate add {
			sonic-ext:field-name "grandmaster-identity";
			sonic-ext:field-transformer "ptp_clock_identity_xfmr";
		}
	}

	deviation /ptp:ptp/ptp:instance-list/ptp:parent-ds/ptp:grandmaster-priority1 {
		deviate add {
			sonic-ext:field-name "grandmaster-priority1";
		}
	}

	deviation /ptp:ptp/ptp:instance-list/ptp:parent-ds/ptp:grandmaster-priority2 {
		deviate add {
			sonic-ext:field-name "grandmaster-priority2";
		}
	}

	deviation /ptp:ptp/ptp:instance-list/ptp:parent-ds/ptp:parent-port-identity {
		deviate add {
			sonic-ext:field-name "parent-port-identity";
		}
	}

	deviation /ptp:ptp/ptp:instance-list/ptp:parent-ds/ptp:parent-port-identity/ptp:port-number {
		deviate add {
			sonic-ext:field-name "port-number";
		}
	}

	deviation /ptp:ptp/ptp:instance-list/ptp:parent-ds/ptp:parent-port-identity/ptp:clock-identity {
		deviate add {
			sonic-ext:field-name "clock-identity";
			sonic-ext:field-transformer "ptp_clock_identity_xfmr";
		}
	}

	deviation /ptp:ptp/ptp:instance-list/ptp:parent-ds/ptp:grandmaster-clock-quality {
		deviate add {
		}
	}

	deviation /ptp:ptp/ptp:instance-list/ptp:parent-ds/ptp:grandmaster-clock-quality/ptp:offset-scaled-log-variance {
		deviate add {
			sonic-ext:field-name "offset-scaled-log-variance";
		}
	}

	deviation /ptp:ptp/ptp:instance-list/ptp:parent-ds/ptp:grandmaster-clock-quality/ptp:clock-class {
		deviate add {
			sonic-ext:field-name "clock-class";
		}
	}

	deviation /ptp:ptp/ptp:instance-list/ptp:parent-ds/ptp:grandmaster-clock-quality/ptp:clock-accuracy {
		deviate add {
			sonic-ext:field-name "clock-accuracy";
		}
	}

	deviation /ptp:ptp/ptp:instance-list/ptp:parent-ds/ptp:parent-stats {
		deviate add {
			sonic-ext:field-name "parent-stats";
			sonic-ext:field-transformer "ptp_boolean_xfmr";
		}
	}

	deviation /ptp:ptp/ptp:instance-list/ptp:parent-ds/ptp:observed-parent-offset-scaled-log-variance {
		deviate add {
			sonic-ext:field-name "observed-parent-offset-scaled-log-variance";
		}
	}

	deviation /ptp:ptp/ptp:instance-list/ptp:time-properties-ds {
		deviate add {
			sonic-ext:table-name "PTP_TIMEPROPDS";
			sonic-ext:key-transformer "ptp_global_key_xfmr";
		}
	}

	deviation /ptp:ptp/ptp:instance-list/ptp:time-properties-ds/ptp:time-traceable {
		deviate add {
			sonic-ext:field-name "time-traceable";
			sonic-ext:field-transformer "ptp_boolean_xfmr";
		}
	}

	deviation /ptp:ptp/ptp:instance-list/ptp:time-properties-ds/ptp:frequency-traceable {
		deviate add {
			sonic-ext:field-name "frequency-traceable";
			sonic-ext:field-transformer "ptp_boolean_xfmr";
		}
	}

	deviation /ptp:ptp/ptp:instance-list/ptp:time-properties-ds/ptp:ptp-timescale {
		deviate add {
			sonic-ext:field-name "ptp-timescale";
			sonic-ext:field-transformer "ptp_boolean_xfmr";
		}
	}

	deviation /ptp:ptp/ptp:instance-list/ptp:time-properties-ds/ptp:time-source {
		deviate add {
			sonic-ext:field-name "time-source";
		}
	}

	deviation /ptp:ptp/ptp:instance-list/ptp:time-properties-ds/ptp:current-utc-offset-valid {
		deviate add {
			sonic-ext:field-name "current-utc-offset-valid";
			sonic-ext:field-transformer "ptp_boolean_xfmr";
		}
	}

	deviation /ptp:ptp/ptp:instance-list/ptp:time-properties-ds/ptp:current-utc-offset {
		deviate add {
			sonic-ext:field-name "current-utc-offset";
		}
	}

	deviation /ptp:ptp/ptp:instance-list/ptp:time-properties-ds/ptp:leap59 {
		deviate add {
			sonic-ext:field-name "leap59";
			sonic-ext:field-transformer "ptp_boolean_xfmr";
		}
	}

	deviation /ptp:ptp/ptp:instance-list/ptp:time-properties-ds/ptp:leap61 {
		deviate add {
			sonic-ext:field-name "leap61";
			sonic-ext:field-transformer "ptp_boolean_xfmr";
		}
	}

	deviation /ptp:ptp/ptp:instance-list/ptp:port-ds-list {
		deviate add {
			sonic-ext:table-name "PTP_PORT";
			sonic-ext:key-transformer "ptp_port_entry_key_xfmr";
		}
	}

	deviation /ptp:ptp/ptp:instance-list/ptp:port-ds-list/ptp:peer-mean-path-delay {
		deviate add {
			sonic-ext:field-name "peer-mean-path-delay";
		}
	}

	deviation /ptp:ptp/ptp:instance-list/ptp:port-ds-list/ptp:announce-receipt-timeout {
		deviate add {
			sonic-ext:field-name "announce-receipt-timeout";
		}
	}

	deviation /ptp:ptp/ptp:instance-list/ptp:port-ds-list/ptp:log-sync-interval {
		deviate add {
			sonic-ext:field-name "log-sync-interval";
		}
	}

	deviation /ptp:ptp/ptp:instance-list/ptp:port-ds-list/ptp:log-min-pdelay-req-interval {
		deviate add {
			sonic-ext:field-name "log-min-pdelay-req-interval";
		}
	}

	deviation /ptp:ptp/ptp:instance-list/ptp:port-ds-list/ptp:version-number {
		deviate add {
			sonic-ext:field-name "version-number";
		}
	}

	deviation /ptp:ptp/ptp:instance-list/ptp:port-ds-list/ptp:port-state {
		deviate add {
			sonic-ext:field-name "port-state";
			sonic-ext:field-transformer "ptp_port_state_xfmr";
		}
	}

	deviation /ptp:ptp/ptp:instance-list/ptp:port-ds-list/ptp:underlying-interface {
		deviate add {
			sonic-ext:field-name "underlying-interface";
		}
	}

	deviation /ptp:ptp/ptp:instance-list/ptp:port-ds-list/ptp:log-min-delay-req-interval {
		deviate add {
			sonic-ext:field-name "log-min-delay-req-interval";
		}
	}

	deviation /ptp:ptp/ptp:instance-list/ptp:port-ds-list/ptp:port-number {
		deviate add {
			sonic-ext:field-name "port-number";
		}
	}

	deviation /ptp:ptp/ptp:instance-list/ptp:port-ds-list/ptp:log-announce-interval {
		deviate add {
			sonic-ext:field-name "log-announce-interval";
		}
	}

	deviation /ptp:ptp/ptp:instance-list/ptp:port-ds-list/ptp:delay-mechanism {
		deviate add {
			sonic-ext:field-name "delay-mechanism";
			sonic-ext:field-transformer "ptp_delay_mech_xfmr";
		}
	}

	deviation /ptp:ptp/ptp:instance-list/ptp:instance-number {
		deviate add {
			sonic-ext:field-name "instance-number";
		}
	}

	deviation /ptp:ptp/ptp:instance-list/ptp:default-ds {
		deviate add {
			sonic-ext:table-name "PTP_CLOCK";
			sonic-ext:key-transformer "ptp_entry_key_xfmr";
		}
	}

	deviation /ptp:ptp/ptp:instance-list/ptp:default-ds/ptp:priority1 {
		deviate add {
			sonic-ext:field-name "priority1";
		}
	}

	deviation /ptp:ptp/ptp:instance-list/ptp:default-ds/ptp:priority2 {
		deviate add {
			sonic-ext:field-name "priority2";
		}
	}

	deviation /ptp:ptp/ptp:instance-list/ptp:default-ds/ptp:domain-number {
		deviate add {
			sonic-ext:field-name "domain-number";
		}
	}

	deviation /ptp:ptp/ptp:instance-list/ptp:default-ds/ptp:slave-only {
		deviate add {
			sonic-ext:field-name "slave-only";
			sonic-ext:field-transformer "ptp_boolean_xfmr";
		}
	}

	deviation /ptp:ptp/ptp:instance-list/ptp:default-ds/ptp:clock-quality {
		deviate add {
			sonic-ext:field-name "clock-quality";
		}
	}

	deviation /ptp:ptp/ptp:instance-list/ptp:default-ds/ptp:clock-quality/ptp:clock-class {
		deviate add {
			sonic-ext:field-name "clock-class";
		}
	}

	deviation /ptp:ptp/ptp:instance-list/ptp:default-ds/ptp:clock-quality/ptp:clock-accuracy {
		deviate add {
			sonic-ext:field-name "clock-accuracy";
		}
	}

	deviation /ptp:ptp/ptp:instance-list/ptp:default-ds/ptp:clock-quality/ptp:offset-scaled-log-variance {
		deviate add {
			sonic-ext:field-name "offset-scaled-log-variance";
		}
	}

	deviation /ptp:ptp/ptp:instance-list/ptp:default-ds/ptp:two-step-flag {
		deviate add {
			sonic-ext:field-name "two-step-flag";
			sonic-ext:field-transformer "ptp_boolean_xfmr";
		}
	}

	deviation /ptp:ptp/ptp:instance-list/ptp:default-ds/ptp:clock-identity {
		deviate add {
			sonic-ext:field-name "clock-identity";
			sonic-ext:field-transformer "ptp_clock_identity_xfmr";
		}
	}

	deviation /ptp:ptp/ptp:instance-list/ptp:default-ds/ptp:number-ports {
		deviate add {
			sonic-ext:field-name "number-ports";
		}
	}

	deviation /ptp:ptp/ptp:transparent-clock-port-ds-list {
		deviate add {
			sonic-ext:table-name "PTP_TC_PORT";
			sonic-ext:key-transformer "ptp_tcport_entry_key_xfmr";
		}
	}

	deviation /ptp:ptp/ptp:transparent-clock-port-ds-list/ptp:log-min-pdelay-req-interval {
		deviate add {
			sonic-ext:field-name "log-min-pdelay-req-interval";
		}
	}

	deviation /ptp:ptp/ptp:transparent-clock-port-ds-list/ptp:faulty-flag {
		deviate add {
			sonic-ext:field-name "faulty-flag";
			sonic-ext:field-transformer "ptp_boolean_xfmr";
		}
	}

	deviation /ptp:ptp/ptp:transparent-clock-port-ds-list/ptp:peer-mean-path-delay {
		deviate add {
			sonic-ext:field-name "peer-mean-path-delay";
		}
	}

	deviation /ptp:ptp/ptp:transparent-clock-port-ds-list/ptp:port-number {
		deviate add {
			sonic-ext:field-name "port-number";
		}
	}

	deviation /ptp:ptp/ptp:transparent-clock-default-ds {
		deviate add {
			sonic-ext:table-name "PTP_TC_CLOCK";
			sonic-ext:key-transformer "ptp_global_key_xfmr";
		}
	}

	deviation /ptp:ptp/ptp:transparent-clock-default-ds/ptp:clock-identity {
		deviate add {
			sonic-ext:field-name "clock-identity";
			sonic-ext:field-transformer "ptp_clock_identity_xfmr";
		}
	}

	deviation /ptp:ptp/ptp:transparent-clock-default-ds/ptp:number-ports {
		deviate add {
			sonic-ext:field-name "number-ports";
		}
	}

	deviation /ptp:ptp/ptp:transparent-clock-default-ds/ptp:delay-mechanism {
		deviate add {
			sonic-ext:field-name "delay-mechanism";
			sonic-ext:field-transformer "ptp_delay_mech_xfmr";
		}
	}

	deviation /ptp:ptp/ptp:transparent-clock-default-ds/ptp:primary-domain {
		deviate add {
			sonic-ext:field-name "primary-domain";
		}
	}

}


////////////////////////////////////////////////////////////////////////////////
//                                                                            //
//  Copyright 2019 Dell, Inc.                                                 //
//                                                                            //
//  Licensed under the Apache License, Version 2.0 (the "License");           //
//  you may not use this file except in compliance with the License.          //
//  You may obtain a copy of the License at                                   //
//                                                                            //
//  http://www.apache.org/licenses/LICENSE-2.0                                //
//                                                                            //
//  Unless required by applicable law or agreed to in writing, software       //
//  distributed under the License is distributed on an "AS IS" BASIS,         //
//  WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.  //
//  See the License for the specific language governing permissions and       //
//  limitations under the License.                                            //
//                                                                            //
////////////////////////////////////////////////////////////////////////////////

package transformer

import (
	log "github.com/golang/glog"
	"errors"
	"strings"
	"strconv"
	"github.com/openconfig/ygot/ygot"
	"translib/ocbinds"
	"fmt"
	"path/filepath"
	b64 "encoding/base64"
)

func init() {
	XlateFuncBind("YangToDb_ptp_entry_key_xfmr", YangToDb_ptp_entry_key_xfmr)
	XlateFuncBind("DbToYang_ptp_entry_key_xfmr", DbToYang_ptp_entry_key_xfmr)
	XlateFuncBind("YangToDb_ptp_port_entry_key_xfmr", YangToDb_ptp_port_entry_key_xfmr)
	XlateFuncBind("DbToYang_ptp_port_entry_key_xfmr", DbToYang_ptp_port_entry_key_xfmr)
	XlateFuncBind("YangToDb_ptp_global_key_xfmr", YangToDb_ptp_global_key_xfmr)
	XlateFuncBind("DbToYang_ptp_global_key_xfmr", DbToYang_ptp_global_key_xfmr)
	XlateFuncBind("YangToDb_ptpinstance_key_xfmr", YangToDb_ptpinstance_key_xfmr)
	XlateFuncBind("DbToYang_ptpinstance_key_xfmr", DbToYang_ptpinstance_key_xfmr)

	XlateFuncBind("YangToDb_ptp_tcport_entry_key_xfmr", YangToDb_ptp_tcport_entry_key_xfmr)
	XlateFuncBind("DbToYang_ptp_tcport_entry_key_xfmr", DbToYang_ptp_tcport_entry_key_xfmr)
	XlateFuncBind("YangToDb_ptp_clock_identity_xfmr", YangToDb_ptp_clock_identity_xfmr)
	XlateFuncBind("DbToYang_ptp_clock_identity_xfmr", DbToYang_ptp_clock_identity_xfmr)
	XlateFuncBind("YangToDb_ptp_boolean_xfmr", YangToDb_ptp_boolean_xfmr)
	XlateFuncBind("DbToYang_ptp_boolean_xfmr", DbToYang_ptp_boolean_xfmr)
	XlateFuncBind("YangToDb_ptp_delay_mech_xfmr", YangToDb_ptp_delay_mech_xfmr)
	XlateFuncBind("DbToYang_ptp_delay_mech_xfmr", DbToYang_ptp_delay_mech_xfmr)
	XlateFuncBind("YangToDb_ptp_port_state_xfmr", YangToDb_ptp_port_state_xfmr)
	XlateFuncBind("DbToYang_ptp_port_state_xfmr", DbToYang_ptp_port_state_xfmr)
}

/* E_IETFPtp_DelayMechanismEnumeration */
var PTP_DELAY_MECH_MAP = map[string]string{
	strconv.FormatInt(int64(ocbinds.IETFPtp_DelayMechanismEnumeration_e2e), 10): "E2E",
	strconv.FormatInt(int64(ocbinds.IETFPtp_DelayMechanismEnumeration_p2p), 10): "P2P",
	strconv.FormatInt(int64(ocbinds.IETFPtp_DelayMechanismEnumeration_UNSET), 10): "Auto",
}

type ptp_id_bin [8]byte

// ParseIdentity parses an s with the following format
// 010203.0405.060708
func ParseIdentity(s string) (ptp_id ptp_id_bin, err error) {
	if len(s) < 18 {
		return ptp_id, fmt.Errorf("Invalid input identity string %s", s)
	}
	fmt.Sscanf(s, "%02x%02x%02x.%02x%02x.%02x%02x%02x", &ptp_id[0], &ptp_id[1], &ptp_id[2], &ptp_id[3], &ptp_id[4], &ptp_id[5], &ptp_id[6], &ptp_id[7])
	return ptp_id, err
}

////////////////////////////////////////////
// Bi-directoonal overloaded methods
////////////////////////////////////////////
var YangToDb_ptp_entry_key_xfmr KeyXfmrYangToDb = func(inParams XfmrParams) (string, error) {
	var entry_key string
	var err error
	log.Info("YangToDb_ptp_entry_key_xfmr: ", inParams.ygRoot, " XPath ", inParams.uri, " key: ", inParams.key)
	pathInfo := NewPathInfo(inParams.uri)
	log.Info("YangToDb_ptp_entry_key_xfmr len(pathInfo.Vars): ", len(pathInfo.Vars))
	if len(pathInfo.Vars) < 1 {
		err = errors.New("Invalid xpath, key attributes not found")
		return entry_key, err
	}

	inkey,_ := strconv.ParseUint(pathInfo.Var("instance-number"), 10, 64)
	if inkey > 0 {
		err = errors.New("Invalid input instance-number")
		return entry_key, err
	}

	entry_key = "GLOBAL"

	log.Info("YangToDb_ptp_entry_key_xfmr - entry_key : ", entry_key)

	return entry_key, err
}

var DbToYang_ptp_entry_key_xfmr KeyXfmrDbToYang = func(inParams XfmrParams) (map[string]interface{}, error) {
	rmap := make(map[string]interface{})
	var err error
	log.Info("DbToYang_ptp_entry_key_xfmr root, uri: ", inParams.ygRoot, inParams.uri)
	// rmap["instance-number"] = 0
	return rmap, err
}

var YangToDb_ptp_port_entry_key_xfmr KeyXfmrYangToDb = func(inParams XfmrParams) (string, error) {
	var entry_key string
	var err error
	log.Info("YangToDb_ptp_port_entry_key_xfmr root, uri: ", inParams.ygRoot, inParams.uri)
	pathInfo := NewPathInfo(inParams.uri)

	log.Info("YangToDb_ptp_port_entry_key_xfmr len(pathInfo.Vars): ", len(pathInfo.Vars))
	if len(pathInfo.Vars) < 2 {
		err = errors.New("Invalid xpath, key attributes not found")
		return entry_key, err
	}

	log.Info("YangToDb_ptp_port_entry_key_xfmr pathInfo.Var:port-number: ", pathInfo.Var("port-number"))
	entry_key = "GLOBAL|Ethernet" + pathInfo.Var("port-number")


	log.Info("YangToDb_ptp_port_entry_key_xfmr - entry_key : ", entry_key)

	return entry_key, err
}

var DbToYang_ptp_port_entry_key_xfmr KeyXfmrDbToYang = func(inParams XfmrParams) (map[string]interface{}, error) {
	rmap := make(map[string]interface{})
	var err error

	log.Info("DbToYang_ptp_port_entry_key_xfmr root, uri: ", inParams.ygRoot, inParams.uri)
	entry_key := inParams.key
	log.Info("DbToYang_ptp_port_entry_key_xfmr: ", entry_key)

	portName := entry_key
	port_num := strings.Replace(portName, "GLOBAL|Ethernet", "", 1)
	// rmap["instance-number"] = 0
	rmap["port-number"], _ = strconv.ParseInt(port_num, 10, 16)
	log.Info("DbToYang_ptp_port_entry_key_xfmr port-number: ", port_num)
	return rmap, err
}

var YangToDb_ptp_global_key_xfmr KeyXfmrYangToDb = func(inParams XfmrParams) (string, error) {
	var entry_key string
	var err error
	log.Info("YangToDb_ptp_global_key_xfmr: ", inParams.ygRoot, inParams.uri)

	entry_key = "GLOBAL"

	log.Info("YangToDb_ptp_global_key_xfmr - entry_key : ", entry_key)

	return entry_key, err
}

var DbToYang_ptp_global_key_xfmr KeyXfmrDbToYang = func(inParams XfmrParams) (map[string]interface{}, error) {
	rmap := make(map[string]interface{})
	var err error
	log.Info("DbToYang_ptp_global_key_xfmr root, uri: ", inParams.ygRoot, inParams.uri)
	// rmap["instance-number"] = 0
	return rmap, err
}

var YangToDb_ptp_tcport_entry_key_xfmr KeyXfmrYangToDb = func(inParams XfmrParams) (string, error) {
	var entry_key string
	var err error
	log.Info("YangToDb_ptp_tcport_entry_key_xfmr root, uri: ", inParams.ygRoot, inParams.uri)
	pathInfo := NewPathInfo(inParams.uri)

	log.Info("YangToDb_ptp_tcport_entry_key_xfmr len(pathInfo.Vars): ", len(pathInfo.Vars))
	if len(pathInfo.Vars) < 1 {
		err = errors.New("Invalid xpath, key attributes not found")
		return entry_key, err
	}

	log.Info("YangToDb_ptp_tcport_entry_key_xfmr pathInfo.Var:port-number: ", pathInfo.Var("port-number"))
	entry_key = "Ethernet" + pathInfo.Var("port-number")


	log.Info("YangToDb_ptp_tcport_entry_key_xfmr - entry_key : ", entry_key)

	return entry_key, err
}

var DbToYang_ptp_tcport_entry_key_xfmr KeyXfmrDbToYang = func(inParams XfmrParams) (map[string]interface{}, error) {
	rmap := make(map[string]interface{})
	var err error
	log.Info("DbToYang_ptp_tcport_entry_key_xfmr root, uri: ", inParams.ygRoot, inParams.uri)

	entry_key := inParams.key
	log.Info("DbToYang_ptp_tcport_entry_key_xfmr: ", entry_key)

	portName := entry_key
	port_num := strings.Replace(portName, "Ethernet", "", 1)
	rmap["port-number"], _ = strconv.ParseInt(port_num, 10, 16)
	log.Info("DbToYang_ptp_tcport_entry_key_xfmr port-number: ", port_num)
	return rmap, err
}

func getPtpRoot(s *ygot.GoStruct) *ocbinds.IETFPtp_Ptp {
	deviceObj := (*s).(*ocbinds.Device)
	return deviceObj.Ptp
}

var YangToDb_ptp_clock_identity_xfmr FieldXfmrYangToDb = func(inParams XfmrParams) (map[string]string, error) {
	res_map := make(map[string]string)
	var err error
	var field string
	var identity []byte
	if inParams.param == nil {
		log.Info("YangToDb_ptp_clock_identity_xfmr Error: ")
	    return res_map, err
	}
	log.Info("YangToDb_ptp_clock_identity_xfmr : ", *inParams.ygRoot, " Xpath: ", inParams.uri)
	log.Info("YangToDb_ptp_clock_identity_xfmr inParams.key: ", inParams.key)

	ptpObj := getPtpRoot(inParams.ygRoot)

	if strings.Contains(inParams.uri, "grandmaster-identity") {
		identity = ptpObj.InstanceList[0].ParentDs.GrandmasterIdentity
		field = "grandmaster-identity"
	} else if strings.Contains(inParams.uri, "parent-port-identity") {
		identity = ptpObj.InstanceList[0].ParentDs.ParentPortIdentity.ClockIdentity
		field = "clock-identity"
	} else if strings.Contains(inParams.uri, "transparent-clock-default-ds") {
		identity = ptpObj.TransparentClockDefaultDs.ClockIdentity
		field = "clock-identity"
	} else if strings.Contains(inParams.uri, "default-ds") {
		identity = ptpObj.InstanceList[0].DefaultDs.ClockIdentity
		field = "clock-identity"
	}

	
	enc := fmt.Sprintf("%02x%02x%02x.%02x%02x.%02x%02x%02x",
		identity[0], identity[1], identity[2], identity[3], identity[4], identity[5], identity[6], identity[7])

	log.Info("YangToDb_ptp_clock_identity_xfmr enc: ", enc, " field: ", field)
	res_map[field] = enc
	return res_map, err
}

var DbToYang_ptp_clock_identity_xfmr FieldXfmrDbtoYang = func(inParams XfmrParams) (map[string]interface{}, error) {
	var err error
	result := make(map[string]interface{})
	var ptp_id ptp_id_bin
	var field,identity,sEnc string
	data := (*inParams.dbDataMap)[inParams.curDb]
	log.Info("DbToYang_ptp_clock_identity_xfmr ygRoot: ", *inParams.ygRoot, " Xpath: ", inParams.uri, " data: ", data)

	if strings.Contains(inParams.uri, "grandmaster-identity") {
		field = "grandmaster-identity"
		identity = data["PTP_PARENTDS"][inParams.key].Field[field]
	} else if strings.Contains(inParams.uri, "parent-port-identity") {
		field = "clock-identity"
		identity = data["PTP_PARENTDS"][inParams.key].Field[field]
	} else if strings.Contains(inParams.uri, "transparent-clock-default-ds") {
		field = "clock-identity"
		identity = data["PTP_TC_CLOCK"][inParams.key].Field[field]
	} else if strings.Contains(inParams.uri, "default-ds") {
		field = "clock-identity"
		identity = data["PTP_CLOCK"][inParams.key].Field[field]
	}
	if len(identity) >= 18 {
		ptp_id,err = ParseIdentity(identity)
		sEnc = b64.StdEncoding.EncodeToString(ptp_id[:])
		result[field] = sEnc
	} else {
		sEnc = ""
	}

	return result, err
}

var YangToDb_ptp_boolean_xfmr FieldXfmrYangToDb = func(inParams XfmrParams) (map[string]string, error) {
	res_map := make(map[string]string)
	var err error
	var outval string
	if inParams.param == nil {
		log.Info("YangToDb_ptp_boolean_xfmr Error: ")
	    return res_map, err
	}
	log.Info("YangToDb_ptp_boolean_xfmr : ", *inParams.ygRoot, " Xpath: ", inParams.uri)
	log.Info("YangToDb_ptp_boolean_xfmr inParams.key: ", inParams.key)
	log.Info("YangToDb_ptp_boolean_xfmr inParams.curDb: ", inParams.curDb)

	inval, _ := inParams.param.(*bool)
	_, field := filepath.Split(inParams.uri)
	log.Info("YangToDb_ptp_boolean_xfmr inval: ", inval, " field: ", field)

	if (*inval) {
		outval = "1"
	} else {
		outval = "0"
	}

	log.Info("YangToDb_ptp_boolean_xfmr outval: ", outval, " field: ", field)
	res_map[field] = outval
	return res_map, err
}

var DbToYang_ptp_boolean_xfmr FieldXfmrDbtoYang = func(inParams XfmrParams) (map[string]interface{}, error) {
	var err error
	result := make(map[string]interface{})
	var inval string
	data := (*inParams.dbDataMap)[inParams.curDb]
	log.Info("DbToYang_ptp_boolean_xfmr ygRoot: ", *inParams.ygRoot, " Xpath: ", inParams.uri, " data: ", data)

	_, field := filepath.Split(inParams.uri)
	if field == "two-step-flag" {
		inval = data["PTP_CLOCK"][inParams.key].Field[field]
	} else if field == "slave-only" {
		inval = data["PTP_CLOCK"][inParams.key].Field[field]
	} else if field == "parent-stats" {
		inval = data["PTP_PARENTDS"][inParams.key].Field[field]
	} else if field == "current-utc-offset-valid" {
		inval = data["TIMEPROPDS"][inParams.key].Field[field]
	} else if field == "leap59" {
		inval = data["TIMEPROPDS"][inParams.key].Field[field]
	} else if field == "leap61" {
		inval = data["TIMEPROPDS"][inParams.key].Field[field]
	} else if field == "time-traceable" {
		inval = data["TIMEPROPDS"][inParams.key].Field[field]
	} else if field == "frequency-traceable" {
		inval = data["TIMEPROPDS"][inParams.key].Field[field]
	} else if field == "ptp-timescale" {
		inval = data["TIMEPROPDS"][inParams.key].Field[field]
	} else if field == "faulty-flag" {
		inval = data["PTP_TC_PORT"][inParams.key].Field[field]
	}

	if (inval == "0") {
		result[field] = false
	} else if inval == "1" {
		result[field] = true
	}

	return result, err
}

var YangToDb_ptp_delay_mech_xfmr FieldXfmrYangToDb = func(inParams XfmrParams) (map[string]string, error) {
	res_map := make(map[string]string)
	var err error
	var outval string
	if inParams.param == nil {
		log.Info("YangToDb_ptp_delay_mech_xfmr Error: ")
	    return res_map, err
	}
	log.Info("YangToDb_ptp_delay_mech_xfmr : ", *inParams.ygRoot, " Xpath: ", inParams.uri)
	log.Info("YangToDb_ptp_delay_mech_xfmr inParams.key: ", inParams.key)

	inval, _ := inParams.param.(ocbinds.E_IETFPtp_DelayMechanismEnumeration)
	_, field := filepath.Split(inParams.uri)

	log.Info("YangToDb_ptp_delay_mech_xfmr outval: ", outval, " field: ", field)
	res_map[field] = findInMap(PTP_DELAY_MECH_MAP, strconv.FormatInt(int64(inval), 10))
	
	return res_map, err
}

var DbToYang_ptp_delay_mech_xfmr FieldXfmrDbtoYang = func(inParams XfmrParams) (map[string]interface{}, error) {
	var err error
	result := make(map[string]interface{})
	var inval string
	var outval string
	data := (*inParams.dbDataMap)[inParams.curDb]
	log.Info("DbToYang_ptp_delay_mech_xfmr ygRoot: ", *inParams.ygRoot, " Xpath: ", inParams.uri, " data: ", data)

	_, field := filepath.Split(inParams.uri)

	if strings.Contains(inParams.uri, "port-ds-list") {
		inval = data["PTP_PORT"][inParams.key].Field[field]
	} else if strings.Contains(inParams.uri, "transparent-clock-default-ds") {
		inval = data["PTP_TC_CLOCK"][inParams.key].Field[field]
	}

	switch inval {
	case "E2E":
		outval = "e2e"
	case "P2P":
		outval = "p2p"
	default:
		outval = ""
	}
	log.Info("DbToYang_ptp_delay_mech_xfmr result: ", outval, " inval: ", inval)
	if outval != "" {
		result[field] = outval
	}

	return result, err
}

var YangToDb_ptp_port_state_xfmr FieldXfmrYangToDb = func(inParams XfmrParams) (map[string]string, error) {
	res_map := make(map[string]string)
	var err error
	var outval string
	if inParams.param == nil {
		log.Info("YangToDb_ptp_port_state_xfmr Error: ")
	    return res_map, err
	}
	log.Info("YangToDb_ptp_port_state_xfmr : ", *inParams.ygRoot, " Xpath: ", inParams.uri)
	log.Info("YangToDb_ptp_port_state_xfmr inParams.key: ", inParams.key)

	inval, _ := inParams.param.(ocbinds.E_IETFPtp_PortStateEnumeration)
	_, field := filepath.Split(inParams.uri)

	switch inval {
	case ocbinds.IETFPtp_PortStateEnumeration_initializing:
		outval = "1"
	case ocbinds.IETFPtp_PortStateEnumeration_faulty:
		outval = "2"
	case ocbinds.IETFPtp_PortStateEnumeration_disabled:
		outval = "3"
	case ocbinds.IETFPtp_PortStateEnumeration_listening:
		outval = "4"
	case ocbinds.IETFPtp_PortStateEnumeration_pre_master:
		outval = "5"
	case ocbinds.IETFPtp_PortStateEnumeration_master:
		outval = "6"
	case ocbinds.IETFPtp_PortStateEnumeration_passive:
		outval = "7"
	case ocbinds.IETFPtp_PortStateEnumeration_uncalibrated:
		outval = "8"
	case ocbinds.IETFPtp_PortStateEnumeration_slave:
		outval = "9"
	}

	log.Info("YangToDb_ptp_port_state_xfmr outval: ", outval, " field: ", field)
	res_map[field] = outval
	return res_map, err
}

var DbToYang_ptp_port_state_xfmr FieldXfmrDbtoYang = func(inParams XfmrParams) (map[string]interface{}, error) {
	var err error
	var inval string
	var outval string
	result := make(map[string]interface{})

	data := (*inParams.dbDataMap)[inParams.curDb]
	log.Info("DbToYang_ptp_port_state_xfmr :", data, inParams.ygRoot)

	inval = data["PTP_PORT"][inParams.key].Field["port-state"]
	switch inval {
	case "1": 
		outval = "initializing"
	case "2":
		outval = "faulty"
	case "3":
		outval = "disabled"
	case "4":
		outval = "listening"
	case "5":
		outval = "pre-master"
	case "6":
		outval = "master"
	case "7":
		outval = "passive"
	case "8":
		outval = "uncalibrated"
	case "9":
		outval = "slave"
	default:
		goto done
	}
	result["port-state"] = outval
done:
	return result, err
}

var YangToDb_ptpinstance_key_xfmr KeyXfmrYangToDb = func(inParams XfmrParams) (string, error) {
	var inst_key string = "0"
	var err error

	return inst_key, err
}

var DbToYang_ptpinstance_key_xfmr KeyXfmrDbToYang = func(inParams XfmrParams) (map[string]interface{}, error) {
	rmap := make(map[string]interface{})
	var err error
	rmap["instance-number"] = 0
	return rmap, err
}

@anand-kumar-subramanian the following changes are required in your annotation and xfmr_ptp function to get it working.
1) Enable the commented out key transformer func ptp_global_key_xfmr

deviation /ptp:ptp/ptp:instance-list {
        deviate add {
                sonic-ext:table-name "PTP_INSTANCE";
                sonic-ext:key-transformer "ptp_global_key_xfmr";
        }
}

2) Uncomment the rmap filling in the DbToYang_ptp_global_key_xfmr 
var DbToYang_ptp_global_key_xfmr KeyXfmrDbToYang = func(inParams XfmrParams) (map[string]interface{}, error) {
rmap := make(map[string]interface{})
var err error
log.Info("DbToYang_ptp_global_key_xfmr root, uri: ", inParams.ygRoot, inParams.uri)
**rmap["instance-number"] = 0**
return rmap, err
}

I was able to get the complete response as below.

Response payload ={"ietf-ptp:ptp":{"instance-list":[{"current-ds":{"steps-removed":244},"default-ds":{"clock-quality":{"clock-accuracy":32,"clock-class":3},"domain-number":16,"number-ports":23,"priority1":222,"priority2":111},"instance-number":0,"parent-ds":{"grandmaster-clock-quality":{"clock-accuracy":22,"clock-class":22,"offset-scaled-log-variance":333},"grandmaster-priority1":8,"grandmaster-priority2":16,"observed-parent-clock-phase-change-rate":33,"observed-parent-offset-scaled-log-variance":89,"parent-port-identity":{"port-number":3}},"port-ds-list":[{"announce-receipt-timeout":1,"port-number":1}],"time-properties-ds":{"current-utc-offset":654}}],"transparent-clock-port-ds-list":[{"faulty-flag":true,"log-min-pdelay-req-interval":23,"peer-mean-path-delay":"0","port-number":1}]}}

ranjini@test$ cat /tmp/dbToYangJson.txt 
-----------------------------------------------------------------
{"instance-list":[{"current-ds":{"steps-removed":244},"default-ds":{"clock-quality":{"clock-accuracy":32,"clock-class":3},"domain-number":16,"number-ports":23,"priority1":222,"priority2":111},"instance-number":0,"parent-ds":{"grandmaster-clock-quality":{"clock-accuracy":22,"clock-class":22,"offset-scaled-log-variance":333},"grandmaster-priority1":8,"grandmaster-priority2":16,"observed-parent-clock-phase-change-rate":33,"observed-parent-offset-scaled-log-variance":89,"parent-port-identity":{"port-number":3}},"port-ds-list":[{"announce-receipt-timeout":1,"port-number":1}],"time-properties-ds":{"current-utc-offset":654}}],"transparent-clock-port-ds-list":[{"faulty-flag":true,"log-min-pdelay-req-interval":23,"peer-mean-path-delay":"0","port-number":1}]} 
-----------------------------------------------------------------


Thank you for you analysis Ranjani, will check and let you know.

This is working.